[2016-11-14 12:28] vladimir-yuldashev opened #1 "Remote database"
I am trying to use remote database.

Credentials are correct.

[code]

[2016-11-14 12:36] eibrahim commented on #1
I have the same issue trying to connect to remote database on heroku

[2016-11-14 13:05] SeyZ commented on #1
Hey @vladimir-yuldashev and @eibrahim !

Thanks for report! The version `1.0.3` fixes the issue and is available :) Can you upgrade the version of your lumber and try again?

`$ npm update -g lumber-cli`

Feel free to reopen the issue if you still have the problem.

[2016-11-14 13:21] vladimir-yuldashev commented on #1
Now I get:

[code]

[2016-11-14 13:31] eibrahim commented on #1
worked for me once i added the --ssl flag.  thanks.

[2016-11-14 13:56] vladimir-yuldashev commented on #1
@eibrahim It did not work for me.

[2016-11-14 14:59] on99 opened #2 "lumber generate fail"
Enter your database connection details and then your admin interface will be automatically generated.

? What's the database type?  mysql
? What's the database name? adx
? What's the database hostname? localhost
? What's the database port? 3306
? What's the database user?  root
? What's the database password? [optional]
? Choose a project name:  adx
(node:2007) UnhandledPromiseRejectionWarning: Un

[2016-11-14 15:08] SeyZ commented on #2
Hey @on99 - Do you have the full stacktrace?

[2016-11-14 15:09] on99 commented on #2
@SeyZ  Sorry I even do not have a forest admin app account, is it possible to use lumber without that?

[2016-11-14 15:13] on99 commented on #2
What I want is to create an admin panel for database management :-) Seems like lumber is doing exactly the same thing, I did not go through the document yet.

[2016-11-14 15:36] SeyZ commented on #2
When you run `lumber generate` - the tool asks you to fill your database details and an email/password for the Forest registration. You don't need to have a Forest account before running the Lumber generate :)

[2016-11-14 15:54] nicgutierrez commented on #2
Hey @on99, @SeyZ: I'm getting the exact same error

[2016-11-14 16:03] on99 commented on #2
@SeyZ Yep I enter email/password, but I got `UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'dbName' of undefined` error. How can I get full stack trace for you?

[2016-11-14 16:08] on99 commented on #2
[code]

[2016-11-14 16:14] danielsitnik opened #3 "nothing happens"
Nothing happens when I run it, tried with and without sudo.
It just ends without any kind of error message, and nothing is generated in the folder.

The usual success messages that are shown in the video like "Hooray, installation success!" and "Run your admin microservice" are not displayed at all.

Ubuntu 16.
Node 6.5.0

[code]

[2016-11-14 16:41] SeyZ commented on #2
Hey @on99 and @nicgutierrez
What's your OS?

[2016-11-14 16:51] vladimir-yuldashev commented on #2
+1, macOS Sierra

[2016-11-14 18:27] SeyZ commented on #2
Hey @on99 @vladimir-yuldashev @nicgutierrez

I've reproduced your issue and it's fixed in the version `1.0.4`. Can you upgrade `lumber-cli` and try again?

[2016-11-14 18:43] vladimir-yuldashev commented on #2
@SeyZ

It works now! But how can I delete unused projects now? I have 12 of them :)

[2016-11-14 18:45] SeyZ commented on #2
Oops :D :D :D Can you tell me the email used or the project names?

[2016-11-14 18:49] vladimir-yuldashev commented on #2
@SeyZ vladimir@fondbot.com

[2016-11-14 18:54] narengs7 opened #4 "Unable to generate"
I was unable to generate or do any other commands, Below is what i get..

`E:\lumberTest>lumber generate
module.js:457
    throw err;
    ^

Error: Cannot find module 'C:\Users\Fred\AppData\Roaming\npm\node_modules\lumber-cli\index-generate'
    at Function.Module._resolveFilename (module.js:455:15)
    at Function.Module._load (module.js:403:25)
    at Module.runMain (module.js:590:10)
    at run

[2016-11-14 18:57] SeyZ commented on #2
@vladimir-yuldashev I deleted your old projects. I think you're all good now :)

Guys, feel free to reopen the issue if you still have the problem :)

[2016-11-14 18:57] #2 closed

[2016-11-14 18:58] SeyZ commented on #4
Are you on Windows?

[2016-11-14 19:05] russelldc opened #5 "Almost nothing in folder after generating"
[code]

No package.json generated, so npm install does nothing. Inside the generated folder are empty etc and node_modules folders.

This is on OS X El Capitan 10.11.1 using Node version 5.6.0.

[2016-11-14 19:07] SeyZ commented on #5
Hey @russelldc - Can you verify if your database contains something in it?

[2016-11-14 19:08] russelldc commented on #5
@SeyZ Definitely, and I'm using postgres 9.5.4.2. Would there be an error of some kind if the auth was wrong? Although, I've confirmed I'm using the right username/password.

[2016-11-14 19:24] SeyZ commented on #5
Your credentials are correct, otherwise you'll see something like "Ouch, cannot connect to the database". It's definitively a bug, I'm trying to reproduce it.

[2016-11-14 19:27] russelldc commented on #5
If more details would help, I've got 4 schemas (besides the pg_catalog and information_schema).

[2016-11-14 19:30] vladimir-yuldashev opened #6 "Can't reach application"
Next one:

after running application it says:

Login
Oops, cannot reach your application. Are you sure it is running?

[2016-11-14 19:52] SeyZ commented on #5
@russelldc do you have a dump of your database with sample data (not your production sensitive data of course) ?

[2016-11-14 20:00] russelldc commented on #5
@SeyZ Sure I'll try to get something together for you and email? it over

[2016-11-14 20:02] SeyZ commented on #6
Fixed after having a discussion. The issue was because your Safari does not want to make http queries on localhost.

[2016-11-14 20:02] #6 closed

[2016-11-14 20:06] SeyZ commented on #5
@russelldc  sandro@munda.me thank you!!

[2016-11-14 20:48] SeyZ commented on #5
Hey @russelldc Ok, I've understood your issue. It's because your postgresql database contains different schema. It's a bug, let me fix this :)

[2016-11-14 21:05] eyaltoledano opened #7 "Unable to npm install"
[code]

[2016-11-14 21:18] rosatof commented on #1
This is not working with remote DB for me neither, works only localhost.

`error: 💀  Ouch, cannot connect to the database 💀`

[2016-11-14 21:25] rosatof commented on #1
@SeyZ current version is 1.0.1, can't find version 1.0.3, how did u get it?

[2016-11-14 21:26] SeyZ commented on #1
Hey @rosatof here on NPM: https://www.npmjs.com/package/lumber-cli
You can upgrade using `[sudo] npm update -g lumber-cli`

[2016-11-14 21:41] rosatof commented on #1
Hey @SeyZ ,
Thank you for your answer.
I did run `npm install/update -g lumber-cli` which installed lumber-cli@1.0.4.
But `lumber -V ` keep returning 1.0.1 and`lumber generate --ssl` leads to cannot connect DB message.
My Credentials are valid since they are used by an other framework.

Any leads ?

[2016-11-14 21:46] vladimir-yuldashev commented on #1
@rosatof `lumber -V` seems having an old information. It should be 1.0.4

[2016-11-14 21:49] rosatof commented on #1
Any idea about the DB connection issue ?

[2016-11-14 21:50] vladimir-yuldashev commented on #1
@rosatof Can you show you console output with hided passwords?

[2016-11-14 21:51] SeyZ commented on #1
@rosatof Can you try to upgrade our lumber-cli with this command:
`npm install -g lumber-cli@latest` ?

Then `lumber --version` should respond with `1.0.4`. Then, I think your issue will be fixed.

[2016-11-14 22:05] rosatof commented on #1
I tried with different version of node, same result...

▶ npm install -g lumber-cli@latest
/Users/rosatof/.nvm/versions/node/v6.2.0/bin/lumber -> /Users/rosatof/.nvm/versions/node/v6.2.0/lib/node_modules/lumber-cli/index.js
/Users/rosatof/.nvm/versions/node/v6.2.0/lib
└── lumber-cli@1.0.4

~
▶ lumber -V
1.0.1

~
▶ lumber --version
1.0.1

[2016-11-14 22:34] rosatof commented on #1
@SeyZ @vladimir-yuldashev

Ok i think i got it!
there is a ":" char in my DB password and it's conflicting with the DATABASE_URL format in the .env
`DATABASE_URL=mysql://root:password@localhost:3306/dbname`

BTW lumber -V keep returning 1.0.1

Thank you guys for your help!

[2016-11-14 22:34] SeyZ commented on #7
Hmmm… strange. Can you clear you cache and try again?

    $ sudo npm cache clean
    $ sudo npm install -g lumber-cli

[2016-11-15 01:40] on99 commented on #2
@SeyZ I am using macOS Sierra.

Here is the output after I upgrade to the latest version:

[code]

Should I enter a new email account every time I need to create a project? I deleted `~/.lumberrc` before executing `lumber generate`. 🤕

[2016-11-15 02:08] eyaltoledano commented on #7
Tried clearing the cache. No go.

[code]

[2016-11-15 04:51] narengs7 commented on #4
Yes

[2016-11-15 05:29] robotomize opened #10 "Fast reject"
Do an availability check mysql or postgres after entering the port

[2016-11-15 05:51] Ashh007 opened #11 "Cannot find module '/var/www/html/lumber/bin/www' error"
Hi,
I had follows yr mention steps in system, but can not found any file or data while it got successful in-stallion. Nothing in found in directory & postgres.
Can u tell  me what is issue in this?

[2016-11-15 06:45] aldieemaulana commented on #1
I have same problem and I'm already update.

[2016-11-15 06:51] abdussami-tayyab opened #12 "Bug in the website"
Footer of your website:

Which is your "main website", maybe create an anchor link for it? Just a small fix I presume.

_Had to add an issue for this since I couldn't find a contact box_

[2016-11-15 06:59] SeyZ commented on #12
Hey @abdussami-tayyab ! I think the text "Lumber is a project from Forest" is a link on the website: http://www.forestadmin.com/lumber

Lumber uses Forest as the admin UI: http://app.forestadmin.com

![screen shot 2016-11-14 at 22 56 07](https://cloud.githubusercontent.com/assets/519129/20296083/ae2e5c3a-aabd-11e6-9594-434592543f63.png)

[2016-11-15 06:59] #12 closed

[2016-11-15 07:03] SeyZ commented on #1
@aldieemaulana do you have `:` char in your user database or password database?

[2016-11-15 07:07] abdussami-tayyab commented on #12
Traditionally, good UX for this kind of text is underlining anchor links so they don't look like a heading.

But hey it's just a tip, if it's working for you, I must be wrong 💯

[2016-11-15 07:08] aldieemaulana commented on #1
@SeyZ yes No,

`sudo lumber generate --ssl
[sudo] password for aldieemaulana:
Enter your database connection details and then your admin interface will be automatically generated.

? What's the database type?  mysql
? What's the database name? lumberfirst
? What's the database hostname? localhost
? What's the database port? 3306
? What's the database user?  root
? What's the database password? [op

[2016-11-15 07:40] aldieemaulana commented on #1
@vladimir-yuldashev It still same, still not work with same error.

[2016-11-15 09:15] GuillaumeBadi commented on #7
```node -v v0.8.18``` Try to update your node version to a stable release, it might fix it :)

[2016-11-15 10:06] nicgutierrez commented on #2
hey @on99, @SeyZ: I was getting the same error but then I tried with a different email address and it worked fine. What is the email address inserted being used for?

[2016-11-15 11:40] nirajmchauhan commented on #5
I am having the same issue, but its for MySQL. I am using Mac Sierra

[2016-11-15 13:21] pojda commented on #2
I'm trying to test here but no luck :(

[code]

I'm feeling kinda frustrated for not being able to spit some debug info here.

I can connect to my mysql locally no problem. I tried giving the root password, and not giving it (it's saved on my ~/.my.cnf).

My system:
Mac El Capitan (10.11.6)
npm v 3.10.3
lumber v 1.0.1 (I ran "npm -g upgrade", "npm -g upgrade lumber-cli" but I can't seem to get v 1

[2016-11-15 15:59] popperz0r opened #13 "Tables are corretly generated but without data"
The source localhost:3000 is not retrieving data.

Error: Ember Data Request GET http://localhost:3000/forest/email returned a 0

[2016-11-15 16:32] SeyZ commented on #2
@on99 Ok got it. I think your admin account was in a bad state. You can see your current logged user with `$ lumber user` , login with `$ lumber login` and logout with `$ lumber logout`.

You don't have to remove the file manually. When the first project is well configured, you can create new ones without any problem.

[2016-11-15 16:40] lcpriest opened #14 "Intercom or Stripe integrations"
Firstly, I love this - I have an API only app so this was an amazing addition to your suite :)

Does Lumber have all the same features as Forest?
e.g. How do we implement an Intercom integration?

[2016-11-15 16:46] Goundar opened #15 "Wrong error with the generator"
Hi !

If you want to create a project with `lumber generate` whose name already exists it returns you this error : `>> 🔥  The project name should only contains alphanumeric, dash and underscore characters. 🔥`

[2016-11-15 16:47] craigtsmith opened #16 "error: 💀 Ouch, cannot connect to the database 💀"
we don't have a user set or password.
Lumber doesn't like this it seems.

local development
macOS
postgresql
rails project

[2016-11-15 16:49] craigtsmith commented on #16
works fine with another local rails project using mysql with root

[2016-11-15 16:50] #15 closed

[2016-11-15 16:52] craigtsmith opened #17 "SequelizeAccessDeniedError: ER_ACCESS_DENIED_ERROR:"
[code]

Noticed this in autoenv notice:

[code]

i wonder if that 'undefined' is causing issues.

[2016-11-15 19:36] jeroenbourgois commented on #13
Here I pressed return when prompted for the db password (on localhost, I use no password) and aftwerwards I saw `(using password: YES)`. So there might be something wrong there. Is it possible to update the db config afterwards?

[2016-11-15 21:57] jtucker opened #18 "lumber cli on Windows fails"
After installing on Windows 10 x64 and trying to do any of the commands give the following error:

[code]

node -v
v6.7.0
npm -v
3.10.7

[2016-11-15 23:14] liambowers commented on #5
I'm also having the same issue with MySQL (Mac Sierra too).

[2016-11-15 23:35] stretch0 commented on #5
I'm also having issue with MySQL, Mac Sierra. Nothing getting generated in DB and file is relatively empty. Just a /etc file and node_modules file

[2016-11-15 23:59] montanaflynn opened #19 "Running the admin UI locally"
Great looking project, however I'm uncomfortable sending my database credentials to a third-party.

The gif in the README shows that at the end of setting up you get a subdomain on forestadmin.com, is there any way to instead run the server / website locally?

[2016-11-16 00:08] SeyZ commented on #19
Hey @montanaflynn !

You never send your database credentials to a 3rd party! The database credentials are use to generate an app (the admin microservice) on your computer.

The hosted part is only for UI, which **never** have access to your data :)

[2016-11-16 00:09] #19 closed

[2016-11-16 00:10] montanaflynn commented on #19
Thanks for the quick reply @SeyZ!

I think this should be noted in the README.md in case anyone else has the same reservations I had.

[2016-11-16 00:11] SeyZ commented on #19
@montanaflynn You're right! Could you send a pull request? I can do it if you prefer, let me know :)

[2016-11-16 00:15] SeyZ commented on #14
Hey @lcpriest ! Yes, it has the same feature as Forest. Lumber only generates the admin microservice, and we use the same `forest-express-sequelize` package for the admin API.

Here's the complete doc:
http://doc.forestadmin.com/developers-guide/?stack=express%2Fsequelize

[2016-11-16 00:20] ryanjrose commented on #11
Im having the same issue trying to install on OSX

[code]

[2016-11-16 00:50] lcpriest commented on #14
Great! I installed intercom with `npm install intercom-client` and then updated `app.js` to include
[code]

Is there anything else you recommend I do? I couldn't get this working.

[2016-11-16 00:53] montanaflynn commented on #19
@SeyZ I'll defer to you

[2016-11-16 01:00] SeyZ commented on #14
So `intercom` comes from `var intercom = require('intercom-client');` right?

In your `models/user.js` file, are you sure the model name is `user` and not `users`?  You can check it there: `sequelize.define('HERE', {`

[2016-11-16 01:00] lcpriest commented on #14
@SeyZ it is in fact users - thanks ;)

[2016-11-16 01:05] #14 closed

[2016-11-16 01:22] SeyZ commented on #13
@jeroenbourgois You can update the DB credentials in the generated file `.env` -> `DATABASE_URL`

[2016-11-16 03:46] #17 closed

[2016-11-16 03:46] SeyZ commented on #17
Thanks @craigtsmith for report!
You're right, the `DATABASE_URL` was incorrect. Can you update it in `.env` file with the value:
`DATABASE_URL=mysql://root@localhost:3306/`

It's not fixed for new projects.

[2016-11-16 03:52] SeyZ commented on #7
@eyaltoledano I can't reproduce your problem :( First time, inquirer was the issue and now it's chalk. Can you try to upgrade like @GuillaumeBadi said to a newest version of node (0.8.18 is old now)?

Reopen this issue if the problem still happens.

[2016-11-16 03:52] #7 closed

[2016-11-16 03:53] SeyZ commented on #10
Availibility check before "Admin user creation" instead of crashing "Oops, cannot connect to the database" at the end, right?

[2016-11-16 03:54] SeyZ commented on #11
@Ashh007 and @ryanjrose can you just do a `ls` on the generated directory (`Test_Lumber` for @ryanjrose ) and show here the output?

[2016-11-16 03:55] SeyZ commented on #13
@jeroenbourgois I fixed the issue you mentioned in the version 1.0.6. ref #17

[2016-11-16 03:55] SeyZ commented on #13
@popperz0r Is it the same issue?

[2016-11-16 03:56] SeyZ commented on #16
Hey @craigtsmith what do you mean by "we don't have a user set or password." ? I fixed a similar issue if I well understood yours here: #17

Can you confirm me it's ok now?

[2016-11-16 03:59] #18 closed

[2016-11-16 04:00] SeyZ commented on #18
@jtucker Thanks for report! Can you confirm me if the version `1.0.7` fixes the issue on Windows? Reopen if the problem still happens. Thank  you!

[2016-11-16 04:08] SeyZ commented on #19
@montanaflynn README are now updated. I've just added:
`Your database credentials are safe. They are only stored in the Lumber generated microservice.`

Thanks :)

[2016-11-16 04:27] SeyZ commented on #1
@aldieemaulana You are using `--ssl` option but you specify `localhost` as the database hostname. Are you sure?

[2016-11-16 04:27] #1 closed

[2016-11-16 04:51] raibima opened #20 "Yarn package manager - lumber-generate(1) does not exist, try --help"
Installed lumber-cli via *yarn* (0.16.1), and couldn't get it running.

On Ubuntu 14.04, Node 6.

[code]

[code]

[2016-11-16 05:32] robotomize commented on #10
Check the DB connection before the login. You have a very long dialogue, it is very unpleasant to receive an error at the end of the fill data.

[2016-11-16 05:45] SeyZ commented on #20
Hey @coderay1100 - I didn't know about yarn before. Can you tell me how you install `lumber-cli` with yarn?

[2016-11-16 05:46] coderay1100 commented on #20
```yarn global add lumber-cli``` @SeyZ

[2016-11-16 05:51] SeyZ commented on #20
Hey @coderay1100 - I fixed an issue related to Windows ( #18 ) on the version 0.1.7.
Can you try with `lumber-cli@0.1.6` instead of the latest one? I just want to be sure it's not a regression :)

[2016-11-16 06:04] coderay1100 commented on #20
@SeyZ you mean lumber-cli@**1.0.6**? It still couldn't seem to find the lumber-generate module. Running `lumber --version` gives me `1.0.1` though.

[2016-11-16 06:10] SeyZ commented on #20
@coderay1100

- You're right, I meant 1.0.6 :)
- I push the version `1.0.8` to fix the `--version` option
- If you `git clone` this repo and you run `$ node lumber.js generate` --> is it working?

[2016-11-16 06:20] coderay1100 commented on #20
I would assume it would work just fine cos this problem appears to occur only when the installation is done using yarn. I was able to run `lumber generate` using lumber-cli installed from npm.

[2016-11-16 06:46] SeyZ commented on #20
Ok got it. It's an issue about `yarn`. Thank you, I try to test it with yarn:
`yarn global add lumber-cli@latest`

Installation success but can't find where my binary is :/

[2016-11-16 09:49] coderay1100 commented on #20
Did you manage to find where your binary is? `yarn global bin` should do the trick

[2016-11-16 10:34] gorgekara commented on #5
Same happens to me as well - I get empty /etc and /node_modules folders in the project folder. Also i don't have anything written in the database (mysql). No errors are thrown in the process.

Tested with different database names, types and project names but still get the same result.

[2016-11-16 14:40] luminarious commented on #5
I'd like to report similar error.

[2016-11-16 15:00] losteed opened #21 "Custom base application url when using lumber-generate"
Hello there !

I can't wait to see this great tool connected on my project :)

lumber-generate ended successfully on my webserver (i'm not working on localhost)

However, I get
"Login
Oops, cannot reach your application. Are you sure it is running?"

because I'm not able to enter my custom base url, for instance
http://www.myproject.com:8080 instead of http://localhost:3000

How can I fix this set

[2016-11-16 15:07] macchie commented on #16
i think what he means is that postgres on rails locally doesnt use user/password

[2016-11-16 15:10] macchie commented on #16
I found a solution @craigtsmith, use your user name for postgres login. it works.

[2016-11-16 17:42] SeyZ commented on #21
Hey @losteed !

Lumber generates the admin microservice on `http://localhost:3000`. I'm not sure to understand your question. Do you want to push the microservice remotely or use another local URL?

[2016-11-16 17:49] SeyZ commented on #16
@macchie The username is always required, isn't it?

[2016-11-17 08:19] losteed commented on #21
Well, I may have missed something...

Actually, there is nothing on my localhost.
The whole project is hosted elsewhere, on a dedicated server, and accessible through a remote url (like www.myproject.com)

I ran "lumber generate" there, but once logged on http://app.forestadmin.com/, my browser tries to connect on http://localhost:3000 (where there is nothing to see) and i don't know how to change

[2016-11-17 13:18] django-wong opened #22 "TypeError: Router.use() requires middleware function but got a Object"
macOS Sierra 10.12.1
node v6.9.1
npm v3.10.8

$ node ./bin/www
/Users/DjangoWong/Workspace/Nuboard/node_modules/express/lib/router/index.js:458
      throw new TypeError('Router.use() requires middleware function but got a ' + gettype(fn));
      ^

TypeError: Router.use() requires middleware function but got a Object
    at Function.use (/Users/DjangoWong/Workspace/Nuboard/node_modules/express/li

[2016-11-17 13:34] vichenze opened #23 "Lumber generate : can't use arrow keys"
Hello,

I am unable to use the arrow keys to select switch database type to mysql. Well actually I use them but it doesn't change anything. I'm using Windows and I've tried several consoles (Standard cmd, Babun, etc), none worked.
Is it possible to type in the type instead ?

Thanks

[2016-11-17 14:07] base16soft commented on #22
same here.
Ubuntu 14
npm 3.8.6
node v5.11.1

/home/augustoc/hellotickets-admin/HelloTickets/node_modules/express/lib/router/index.js:458
      throw new TypeError('Router.use() requires middleware function but got a ' + gettype(fn));
      ^

TypeError: Router.use() requires middleware function but got a Object
    at Function.use (/home/augustoc/hellotickets-admin/HelloTickets/node_modules/expres

[2016-11-17 14:38] barohatoum commented on #22
Same here

OS Type: macOS Sierra 10.12.1
Node: 7.1.0
NPM: 3.10.9

`/Users/ibrahimhatoum/Sites/www/sportsadmin/node_modules/express/lib/router/index.js:458
      throw new TypeError('Router.use() requires middleware function but got a ' + gettype(fn));
      ^

TypeError: Router.use() requires middleware function but got a Object
    at Function.use (/Users/ibrahimhatoum/Sites/www/sportsadmin/node_

[2016-11-17 16:01] cristianounix opened #24 "Erro: $ node ./bin/www"
~ /project-test/ $ node ./bin/www
~ /project-test/node_modules/express/lib/router/index.js:458
throw new TypeError('Router.use() requires middleware function but got a ' + gettype(fn));
      ^
TypeError: Router.use() requires middleware function but got a Object
    at Function.use (~ /project-test/node_modules/express/lib/router/index.js:458:13)
    at EventEmitter.<anonymous> (~ /project-test/n

[2016-11-17 18:28] SeyZ commented on #24
Duplicate https://github.com/ForestAdmin/lumber/issues/22

[2016-11-17 18:28] #24 closed

[2016-11-17 18:28] SeyZ commented on #22
Thanks for report guys! I'll fix this!

[2016-11-17 18:32] #22 closed

[2016-11-17 18:35] SeyZ commented on #22
@django-wong @barohatoum @base16soft It's now fixed in the version 1.0.10.

- You can upgrade using `npm install -g lumber-cli@latest` and regenerate your admin microservice
or
- You can add in your admin generated folder, modify the `app.js` file according to this change: https://github.com/ForestAdmin/lumber/commit/d4225b85901a65127c4263d356af9fa187ad7833#diff-fb096da81ac8de5f55989e87d728ca53R32

[2016-11-17 18:41] SeyZ commented on #23
Hey @vichenze - We use https://github.com/SBoudrias/Inquirer.js for the prompt. It seems to be an issue on their side.

https://github.com/SBoudrias/Inquirer.js/issues/303
Is it helpful?

[2016-11-17 18:44] #23 closed

[2016-11-17 18:44] SeyZ commented on #23
@vichenze I fixed the issue by using a `rawlist` on Windows :)

Feel free to reopen this issue if needed.

[2016-11-17 19:04] base16soft commented on #22
@SeyZ thanks! now it is working!

[2016-11-17 19:40] solocreativeco opened #25 "TypeError: Cannot read property 'field' of undefined"
Installation worked, got a hooray message, but this error happens when I attempt to run it.

[code]
Using Postgres on Heroku for DB. Installed with --ssl flag.

[2016-11-17 20:32] SeyZ commented on #25
Hey @solocreativeco ! Thanks for report the issue.

One of your generated model relationship (`models/`) seems to be incorrect :( Do you have the database (sample data or empty) to share? Then I'll be able to reproduce the issue on my side.

Thanks!

[2016-11-17 22:07] natecox commented on #5
I'm having the same issue.

![image](https://cloud.githubusercontent.com/assets/2782695/20409475/99892fc2-acce-11e6-9867-6d13cb307720.png)

Nothing has been written to the database specified.

[2016-11-17 22:33] SeyZ commented on #5
Hey @natecox do you have a sample database (even empty) to test on my side to fix this issue? It would be awesome!

[2016-11-17 23:12] natecox commented on #5
@SeyZ I don't have anything public facing that you could connect to right now. Let me know how I could assist you with this and I'm glad to help.

[2016-11-18 05:27] solocreativeco commented on #25
I wonder if it's because I have more than one foreign key on most tables along with cascade update and delete turned on. I'll could send you the database structure. I'm also using pgcrypto to generate UUIDs.

[2016-11-18 05:38] SeyZ commented on #25
Hey @solocreativeco The database structure would be awesome, not need to have data! Is it possible?

[2016-11-18 05:45] solocreativeco commented on #25
@SeyZ What's the best way to get that to you?

[2016-11-18 05:47] SeyZ commented on #25
@solocreativeco sandro@munda.me

[2016-11-18 05:56] solocreativeco commented on #25
Thanks, on it's way

[2016-11-18 07:29] ahmetoz opened #26 "Not works on my windows 10 machine"
[code]
versions:

npm : 3.10.8
nodejs : v6.9.1

[2016-11-18 07:51] cyanglee commented on #11
Hi @Ashh007, I am having the same issue and here is the result from ```ls```

[code]

[2016-11-18 08:17] Pitt05 commented on #26
Same problem... :'(

[2016-11-18 09:59] vichenze commented on #23
Thanks for your quick fix. Unfortunately it still don't work for me. What a rawlist is supposed to change ?

BTW, there is a difference in your version number between Github (1.0.9) and your code (1.0.10). Not much, but it can be confusing :)

[2016-11-18 14:31] jcoulaud opened #27 "Oops, cannot reach your application. Are you sure it is running?"
Hi,
First of all, great job guys :)

Little problem here. I got the following message when I try to login in the admin UI:
[code]
even though I'm sure it's running on my server. Tested it on Chrome and Safari.

Best,
julien

[2016-11-18 16:44] SeyZ commented on #23
Hey @vichenze Did you try with the 1.0.10 version?

[2016-11-18 16:45] SeyZ commented on #27
Hey @jcoulaud Can you run a curl in your terminal and show me the output?
`$ curl -I http://localhost:3000/forest`

Thanks!

[2016-11-18 17:47] jcoulaud commented on #27
`curl: (7) Failed to connect to localhost port 3000: Connection refused`

[2016-11-18 19:25] SeyZ commented on #27
Hey @jcoulaud So it means your server is not running :( Did you run the `node ./bin/www` in your folder?

[2016-11-18 20:01] jcoulaud commented on #27
Sorry for the output, yes it was running but I was on the wrong server when I executed the command.
Here it is :
`$ curl -I http://localhost:3000/forest
HTTP/1.1 204 No Content
X-Powered-By: Express
Date: Fri, 18 Nov 2016 20:00:53 GMT
Connection: keep-alive`

[2016-11-18 20:48] jcoulaud commented on #27
But still the same message when I'm on the UI Interface :/

[2016-11-19 21:48] tvarsis commented on #26
Yeah, this is broken on Windows. It's the spawn process that doesn't work as read here:
http://stackoverflow.com/questions/27688804/how-do-i-debug-error-spawn-enoent-on-node-js

I swapped it out, but then it blows up on an other part instead. It should be really easy for the developers to replicate if they have a Windows machine. Pretty much just run lumber generate and it will break. I used Postg

[2016-11-19 22:35] SeyZ commented on #26
Hey guys, do you have `npm` installed on your Windows machine and directly accessible in your console?

[2016-11-19 22:35] SeyZ commented on #4
@narengs7 can you try again with the latest version Lumber?

[2016-11-20 08:49] tvarsis commented on #26
Yes. 3.10.3

[2016-11-20 08:54] ahmetoz commented on #26
Yes I have `npm` version **3.10.8**

[2016-11-20 10:05] Appsido opened #28 "Database connection using SSH"
Is there a way to do so ? Because database is hosted on remote server but can connect only using SSH usr/ssh key.

[2016-11-20 10:19] Unforgiven-wanda commented on #26
Same issue on W10 Pro with Node 6.9.1 and npm 3.10.8.

[2016-11-20 12:46] Unforgiven-wanda opened #29 "Running the project entirely offline"
Hello,
I was curious if it is at all possible to run the project **entirely** offline; and by that I mean both logic and UI. I have some clients who could be interested in this service were it not dependent on an all-time stable internet connection.

I have an inkling what the answer will be, just had to ask. You never know.
Thank you.

[2016-11-20 19:43] SeyZ commented on #29
Hey @Unforgiven-wanda Unfortunately the UI is only available remotely :(

[2016-11-20 19:43] #29 closed

[2016-11-20 19:46] SeyZ commented on #28
Hey @Appsido I'm not sure to understand what you mean by "can connect only using SSH key" ? In your app, what form has your database connection string?

[2016-11-20 20:59] Appsido commented on #28
Hey @SeyZ as per my understanding of the lumber usage is to deploy on my local machine and connect to a remote database. But my remote database is accessible only using SSH connection. In fact my question is obsolete since it has to be done locally with a SSH tunneling.

Another solution is to install lumber on my remote server but i need to have a "virtual host" listening on port 80 to route to p

[2016-11-20 20:59] #28 closed

[2016-11-21 17:51] gahwa commented on #4
Able to run lumber generate but fails after entering project name. Fails on creating the project folder in Windows, possibly due to the code using the forward slash instead of (sic) Windows backslash.

Here is the error output:
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: spawn npm ENOENT
    at exports._errnoException (util.js:1036:11)
    at Process.ChildProcess._hand

[2016-11-21 19:28] JustJasper opened #30 "Issue with install while extracting inquirer to gunzTa?"
Having an issue completing the install of lumber, resulting in the install being killed:

[code]

Installing on a Digital Ocean droplet, using Node.js v4.2.6 and NPM v3.5.2

[2016-11-21 20:45] JustJasper commented on #30
Ah, disregard - I was running out of memory, and hadn't set up a swap file.

[2016-11-21 20:45] #30 closed

[2016-11-21 20:53] JustJasper opened #31 "Model creation error and unable to access application"
Following successful installation, I get the following error when running the node ./bin/www command:

`user@domain:~$ cd "ExpertC" && node ./bin/www`
`Model creation error: SyntaxError: Unexpected token *`
`🌳  Open your admin UI: http://app.forestadmin.com 🌳`

While the final message appears to indicate success, it the ssh locks and I'm forced to Ctrl+C.

Running `curl -I http://localhost:3000/fo

[2016-11-21 21:05] SeyZ commented on #31
Hey @JustJasper Can you tell me the version of `node` installed?

[2016-11-21 22:21] JustJasper commented on #31
Hi @SeyZ, I'm running Node 4.2.6 on Ubuntu 16.04.

[2016-11-21 23:03] SeyZ commented on #30
Great to hear @JustJasper 👍

[2016-11-21 23:04] SeyZ commented on #31
Hey @JustJasper It seems one of our generates model in the `models` directory has a syntax error :( Do you know which one?

[2016-11-22 08:15] JustJasper commented on #31
Ah, that makes sense - I had a depreciated table in my database which had asterisks in the field name (poor form, I know).  Have corrected that (removed the offending fields from the table), and no longer get the 'model creation error', however still unable to connect (server doesn't appear to be running) even after rerunning the `node ./bin/www` command. (my SSH connection also hangs at this poin

[2016-11-22 11:11] jeroenbourgois commented on #13
@SeyZ thanks!

[2016-11-22 11:20] popperz0r commented on #13
I havent tested yet @SeyZ

As soon as i can i will report back.

[2016-11-23 17:22] SeyZ commented on #13
@popperz0r Great, let me know when you have the time to test and reopen the issue if the problem is still there for you :)

[2016-11-23 17:51] narengs7 commented on #4
@SeyZ  It's working and is great.. Thanks...

[2016-11-23 17:51] #4 closed

[2016-11-23 18:12] SeyZ commented on #4
Awesome @narengs7 !

[2016-11-25 23:23] baconck commented on #13
I am having a similar issue - my tables names are populated, but when trying to get data - only 400 errors.

[code]

When trying to create a new record

[code]

MySQL db
Lumber 1.1.1

[2016-11-26 05:02] sandboxhack opened #33 "When running lumber generate - Unhandled 'error' event"
lumber generate
ℹ︎  Enter your database connection details and then your admin interface will be automatically generated.
ℹ︎  Your database credentials are safe. They are only stored in the Lumber generated microservice.

? What's the database type?  postgres
? What's the database name? root
? What's the database hostname? localhost
? What's the database port? 5432
? What's the database user?  roo

[2016-11-27 14:51] jcoulaud commented on #27
Hi ! Any news :) ?

[2016-11-27 19:56] SeyZ commented on #33
Hey @sandboxhack

• Do you have `npm` installed on your computer?
• What's your OS?

Thanks!

[2016-11-27 19:57] SeyZ commented on #31
Hey @JustJasper what do you mean by 'My SSH connection also hangs at this point` ?

[2016-11-27 20:33] SeyZ commented on #27
Hey @jcoulaud ! Sorry about the delay

So you're server is running but the browser can't make requests to it. Do you have errors on your Chrome console?

[2016-11-27 21:07] jcoulaud commented on #27
Hey !
So when I try to login, I have this message in the center top
`Login
Oops, cannot reach your application. Are you sure it is running? If your application is running, you might have a CORS configuration issue.`

And in the console
`OPTIONS http://localhost:3000/forest/sessions net::ERR_CONNECTION_REFUSED`

[2016-11-27 23:40] SeyZ commented on #27
Ok it seems to be a CORS issue. Normally, your microservice injects the right CORS headers in the http request but it does not seems to work with yours.

Do you have the cors middleware there?
https://github.com/ForestAdmin/lumber/blob/master/templates/app/app.js#L21

[2016-11-28 04:05] sandboxhack commented on #33
Windows 10
Yes NPM installed

[2016-11-28 05:10] Ashh007 commented on #11
Hi @SeyZ  getting same in my directory

[2016-11-28 07:25] SeyZ commented on #11
Hey @Ashh007 Can you verify you have data in your database (not just the schema) ?

[2016-11-28 08:09] JustJasper commented on #31
Apologies if unclear - when I run the `node ./bin/www` command, I get the `🌳 Open your admin UI: http://app.forestadmin.com 🌳` message, however, the process appears to 'hang' and I'm forced to Ctrl+C to get back to my command line prompt.

[2016-11-28 09:04] jcoulaud commented on #27
Oh :/ Yes I have it

[2016-11-28 13:38] tvarsis commented on #26
Any progress on this?

[2016-11-29 17:27] mishbah commented on #5
I'm using Ubuntu gnome, and this is the result
![screenshot from 2016-11-30 00 24 50](https://cloud.githubusercontent.com/assets/2609046/20720910/94a6264e-b693-11e6-8201-8620ffa076cc.png)

[2016-11-29 17:41] SeyZ commented on #5
@mishbah Hey, do you have a schema and data in your database?

[2016-11-29 19:43] mishbah commented on #5
Before I run `lumber generate`, I create `lumber` db in MySql
After run `lumber generate`, lumber db empty (no table and data)

[2016-11-30 21:55] SeyZ commented on #33
Hey @sandboxhack I've just published the version `1.1.2` that supports Windows 10. Can you try again with that version?

Feel free to reopen the issue if the problem still persists.

[2016-11-30 21:55] #33 closed

[2016-11-30 21:56] SeyZ commented on #26
Hey guys,

I've just published the version `1.1.2` that supports Windows 10. Can you try again with that version?

Feel free to reopen the issue if the problem still persists.

[2016-11-30 21:56] #26 closed

[2016-12-01 19:20] tvarsis commented on #5
Im also getting this error now on Windows 10 when trying out the latest build that was suppose to fix the Win 10 problems. It connects correctly to the db and then it logs out this error:

cd xource && npm install...
npm ERR! addLocal Could not install C:\Users\Administrator\Desktop\Samwell\API\Lumber
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program F

[2016-12-01 19:45] imownbey opened #34 "Unable to start Lumber"
Getting this error:

[code]

[2016-12-01 19:54] SeyZ commented on #34
Hey @imownbey

Can you paste me the `belongsTo` relationship (inside the `associate` function) in your model file: `models/episode_authors.js` ?

Thank you!

[2016-12-01 20:02] imownbey commented on #34
Model.belongsTo(models.episodes, {
          foreignKey: 'episode_id',
          targetKey: 'episode_id',
          as: 'relepisodes',
        });

        Model.belongsTo(models.users, {
          foreignKey: 'user_id',
          targetKey: 'user_id',
          as: 'relusers',
        });

[2016-12-01 21:39] SeyZ commented on #34
@imownbey if you temporary comment those lines, is it working?

[2016-12-01 23:14] imownbey commented on #34
I then get:

➜  ~/workspace/Bumpers-localhost  node bin/www
/Users/imownbey/workspace/Bumpers-localhost/node_modules/sequelize/lib/associations/belongs-to.js:64
  this.targetKeyField = this.target.rawAttributes[this.targetKey].field || this.targetKey;
                                                                 ^

TypeError: Cannot read property 'field' of undefined
    at new BelongsTo (/User

[2016-12-01 23:17] SeyZ commented on #34
Ok it seems that the relationships are not well setup. Can you try by commenting the relationships in the file `models/episodes.js`?

[2016-12-01 23:19] imownbey commented on #34
➜  ~/workspace/Bumpers-localhost  node bin/www
/Users/imownbey/workspace/Bumpers-localhost/node_modules/sequelize/lib/associations/belongs-to.js:64
  this.targetKeyField = this.target.rawAttributes[this.targetKey].field || this.targetKey;
                                                                 ^

TypeError: Cannot read property 'field' of undefined
    at new BelongsTo (/Users/imownbey/wo

[2016-12-01 23:41] SeyZ commented on #34
ok @imownbey can you try to comment *all* association in all your models :D?

[2016-12-02 06:20] imownbey commented on #34
I will probably just go with another solution so no worries. I was interested in just getting enterprise with the integration engineer to not have to deal with this but it seems like that isn't designed for my needs. But seems like this is less turnkey than I was hoping for especially for a non self hosted solution.

Thanks for trying to help I appreciate it.

[2016-12-02 06:20] #34 closed

[2016-12-02 10:46] Pitt05 commented on #26
20 error Windows_NT 10.0.10586
21 error argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "--prefix=Tintin" "--progress=true"
22 error node v6.9.1
23 error npm  v3.10.8
24 error code EISDIR
25 error errno -4068
26 error syscall read
27 error eisdir EISDIR: illegal operation on a directory, read
28 error eisdir This is most likely n

[2016-12-02 17:34] SeyZ commented on #26
@Pitt05 if you go on your `Tintin` directory and you run `npm install` manually, is it working?

[2016-12-02 19:17] alexparker opened #35 "Unrecognized data type for field <field_name>"
Everything worked smoothly so far, until I wanted to change a model field to be a checkbox instead of an input field for a boolean property. It seems lumber mapped the field TINYINT(1) to be DataTypes.INTEGER. So I manually changed the line in the `models/model_name.js` file to be `type: DataTypes.BOOLEAN`

When restarting lumber, the error I get is `Model creation error: Error: Unrecognized data

[2016-12-04 14:48] on99 opened #36 "Deploy to production"
I click the `Deploy` button in `http://app.forestadmin.com/` to deploy from Development to Production then access the admin panel via the email you sent me, but error prompt from web
`Login
Forest cannot retrieve any users for the project you're trying to unlock.`
and
`[forest] 🌳🌳🌳  Cannot retrieve the project you're trying to unlock. Can you check that you properly copied the Forest secret key in

[2016-12-04 16:06] loicgriffie opened #37 "Update generated project"
Hi,

I have done a lumber generate command at version 1 of my project API. Then i have done enhancements to the API to reach version 2. I'd like to update the version 1 project to version 2 but can't find a way to do it. Unless remove local generated project and do lumber generate again. But i now got 2 projects with same name. Is there at least a way to delete a project unless i can't update a pr

[2016-12-05 02:15] SeyZ commented on #36
Hey @on99

Did you push your generated admin on a remote server with the correct `FOREST_SECRET_KEY` as an environment variable? Can you tell me where you deployed your admin? AWS? Heroku?

[2016-12-05 02:32] on99 commented on #36
@SeyZ Sorry I didn't realize `FOREST_SECRET_KEY` should be set as an environment variable... I deploy it on aws.

[2016-12-05 02:53] #36 closed

[2016-12-05 04:36] sandboxhack commented on #33
![lumber](https://cloud.githubusercontent.com/assets/21955080/20873896/804e89dc-bad2-11e6-9b8a-8fa17d431d6e.PNG)
Error !

[2016-12-05 17:56] Oxicode opened #38 "SyntaxError: Use of const in strict mode."
![image](https://cloud.githubusercontent.com/assets/1320709/20896100/2882a7f2-baea-11e6-9cfb-3c7bca52e75c.png)

[2016-12-05 18:39] SeyZ commented on #38
Hey @Oxicode I think you're running an old version of Node.js right?
If you need to upgrade it. Feel free to reopen this issue if the problem still perists :)

[2016-12-05 18:39] #38 closed

[2016-12-06 10:09] tvarsis commented on #5
Ok, so I found the problem. The issue occurs when your schema is not named "public". You should probably add a schema property in the cli steps to solve this issue.

[2016-12-06 17:06] SeyZ commented on #5
Hey @tvarsis wow thanks for help!!!

[2016-12-06 19:35] SeyZ commented on #37
Hey @Appsido
You're right, we need a `lumber update` command or something like this 👍

[2016-12-07 05:41] heinzin opened #39 "There is no package.json but installation success!"
cd forestadmin && npm install...
npm WARN enoent ENOENT: no such file or directory, open '/var/www/html/laravel/forestadmin/package.json'
npm WARN forestadmin No description
npm WARN forestadmin No repository field.
npm WARN forestadmin No README data
npm WARN forestadmin No license field.

👍  Hooray, installation success! 👍

Run your admin microservice:
$ cd "forestadmin" && node ./bin/www

[2016-12-07 07:42] alexparker commented on #37
this seems like it might get complicated if you've made any mods to the microserver code. Or just run a diff/overwrite prompt the way `ember init` addresses this when updating ember versions on an existing codebase.

[2016-12-07 14:15] MartinMuzatko opened #40 "Where are the REST docs?"
I read that Lumber/Forestadmin can be used to serve as a REST API for my database.

When browsing the tables, I get some calls in the terminal - Yes. But how do I know how to access these via my app?
There is no url provided.

Is it localhost/forest/content/65565 ? Is there no port?
Is it http://app.forestadmin.com/forest/content/65565?
None of them work.

It would be nice to have some more inform

[2016-12-07 19:14] alexparker commented on #40
http://doc.forestadmin.com/api-reference/

[2016-12-07 20:47] btubbs commented on #25
Also running into this issue with a Postgres database.  Like solocreativeco, I'm using a custom PG function to generate IDs.

[2016-12-07 22:00] emir-harbinja opened #41 "Project generation fails when schema is empty"
The CLI project generation process will fail if the provided schema (currently hard coded to `public`) of the PostgreSQL database provided is empty.
A reasonable expectation would be to either that it successfully creates a fully fledged project with no models present, or that the CLI reports a meaningful error message to the user.

Because the CLI does not currently support providing a schema nam

[2016-12-07 22:09] emir-harbinja opened #42 "Support providing a schema name when generating a project"
When generating a project, the user should be able to provide a schema name from which the tables will be read.
This is especially useful for larger projects which heavily rely on schema as namespaces.

Please note that for PostgreSQL, the current version of Sequelize does not support providing a schema name to the `showAllTables` and `describeTable` methods of `QueryInterface` (there is a pull re

[2016-12-07 22:17] emir-harbinja opened #43 "Delay the Forest account/project creation process until after the database metadata is read"
In order to prevent the creation of redundant projects and multiple Forest accounts, the interaction with the Forest API should be delayed until after the database metadata is successfully read.

[2016-12-08 14:34] MartinMuzatko commented on #40
This does not work for me @alexparker
If I run this locally, http://localhost/forest/content/65565 returns "this site can't be reached"
It would be nice to know how to access this on localhosts. Again: I don't think that lumber hosts on port 80 for localhost. But there is no message either.. Any ideas?

[2016-12-08 14:52] alexparker commented on #40
Lumber runs a small express server if you open the folder it creates, which by default runs on port 3000. 

And it uses jsonapi specification I believe. which has a pretty strict standard to it. 

On Thu, Dec 08, 2016 at 7:34 AM Martin Muzatko

<
mailto:Martin Muzatko <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

This does not work for me
https://git

[2016-12-08 15:24] pajtai opened #44 "Any plans for mongo?"
This looks like a great tool. The docs say "Works with every stack." Do you have any plans for mongo compatibility in the future?

[2016-12-08 15:38] MartinMuzatko commented on #40
Awesome! that works for me. You really need to document the default port when running locally for development. This tool is starting to make sense. :)

Thank you a lot for your time.

[2016-12-08 15:42] alexparker commented on #40
I'm not part of forest :) just a fellow developer interested in using it too 😜 and helping out where I can.

You could make a PR on the readme if you wanted to help out too. 

On Thu, Dec 08, 2016 at 8:38 AM Martin Muzatko

<
mailto:Martin Muzatko <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Awesome! that works for me. You really need to document th

[2016-12-08 17:59] SeyZ commented on #40
Hey @MartinMuzatko thank you for your question, you're right it's not enough clear!
@alexparker You rock man, thanks for your contribution on this issue :D

I close the issue, PR are more than welcome to improve our README/Code 👍

[2016-12-08 17:59] #40 closed

[2016-12-08 18:00] SeyZ commented on #44
Hey @pajtai Yes, we're working on it :)

[2016-12-08 21:39] SeyZ commented on #43
Hey @emir-harbinja

Not sure to understand the flow you described. Can you explain me how I can reproduce the problem?

Thanks!!

[2016-12-08 22:57] SeyZ commented on #42
Hey @emir-harbinja

You're right, sequelize does not support "schema" option for `showAllTables` 😢
I think I will need to patch this before solving the issue on Lumber.

[2016-12-09 09:58] emir-harbinja commented on #43
@SeyZ
Here is one way to reproduce the problem:
1. create a folder 'abc' in the current directory
2. run lumber CLI
3. set project name to 'abc'
4. enter new Forest credentials

The CLI should fail telling you that the folder already exists but the Forest account will be created.

Another way to encounter this issue is by reproducing issue #5. Both the Forest account and Forest project will be cre

[2016-12-12 17:51] Tapppi commented on #31
@JustJasper the "hang" you are describing is the actual express server just running and waiting for connections. If you open another terminal on the same machine after leaving the node server on and curl `http://localhost:3000` you will get connected, but probably encounter a `404` as lumber doesn't serve anything in root by default.

To use the dashboard, open the link given by the command (`http

[2016-12-12 17:53] Tapppi opened #47 "PostgreSQL CITEXT columns not present in generated sequelize models"
A lumber generated, postgresql connected admin will not have any CITEXT columns present in the generated sequelize models. The suspect function is [the `getType()` function](https://github.com/ForestAdmin/lumber/blob/master/services/table-analyzer.js#L28) in the table analyzer. Sequelize does not support CITEXT as a datatype according to their docs and I am unfamiliar with the framework, but it lo

[2016-12-12 22:43] SeyZ commented on #47
You're right @Tapppi - STRING sequelize type works fine.
I'll fix that in the `getType()` function :)

[2016-12-14 01:29] SeyZ commented on #47
Fixed by e8925f9813ba509c49a71241c0542da5420ff478

[2016-12-14 01:29] #47 closed

[2016-12-14 12:52] Appsido commented on #37
or at least being able to delete a project because while testing with an account i got 5 projects named the same due to lumber generate same project multiple times

[2016-12-14 13:18] ewiggin opened #48 "Bad relationship"
My project build over Laravel 5.1 and the Database Shema. I have a trouble with the field name of relationships.

I have the next code:

Organismos **hasMany** Programas and Programas **belongsTo** Organismos

**Organismos**

[code]

**Porgramas**
[code]

I write the foreign key is *organismo_id* but the lumber get the next error:
`{"errors":[{"detail":"ER_BAD_FIELD_ERROR: Unknown column 'organism

[2016-12-14 16:17] clh021 commented on #11
Hi @SeyZ getting same in my directory, And there no change in my database.

[code]

[2016-12-15 02:11] SeyZ commented on #37
You're right guys! I'll try to improve this as soon as possible. Contributions are always welcome as well 😄

[2016-12-15 02:12] SeyZ commented on #48
Hey @ewiggin !

Can you try to add also the foreignKey on the hasMany relationships? Like:

[code]

Does it work?

[2016-12-16 11:01] icodejs opened #49 "ER_BAD_FIELD_ERROR: Unknown column 'created_at' in 'field list'"
Hi Louis,

I successfully setup my admin and most tables worked fine but I had issues loading my tables that contained the fields `createdAt` and `updateAt`.

My console outputted the following error:

[code]

With a network response of:
[code]

I also inspected my terminal output and saw:
[code]

I went into my database and added a new column called `created_at` (and `updated_at`, as this caused

[2016-12-17 13:12] ewiggin commented on #48
Works!
I generate other project with the same database and review de models. I write all relations.

Thanks.

[2016-12-17 13:12] #48 closed

[2016-12-17 15:38] SeyZ commented on #49
Hey @icodejs

Sequelize expects by default these timestamp fields. Lumber has a function (https://github.com/ForestAdmin/lumber/blob/master/services/dumper.js#L20) to detect if the table have `createdAt` or `updatedAt` fields and configure the Sequelize option (`timestamps`) in the model definition.

In your case, it seems that the analyze didn't work well. According to the sequelize documentation

[2016-12-17 22:40] alexparker commented on #37
Alex Parker

I'm interested in looking into creating a delete project method on the Authenticator that can be used by a delete command. 

a, pre, code, a:link, body { word-wrap: break-word !important; }

I haven't seen any tests. Am I missing them? Or just not written yet?

[2016-12-18 10:38] icodejs commented on #49
Hi @SeyZ,

Updating the model options to `underscored: false` solved my issue.

Thank you very much.

Where is the best place to ask general questions that aren't bugs or issues?

Tahir

[2016-12-18 10:38] #49 closed

[2016-12-18 19:19] icodejs commented on #49
FYI!

I had to disable Github 2-factor authentication in order to successfully deploy via `lumber heroku-deploy -c`.

You may want to update your documentation / test this out for yourself.

;)

[2016-12-20 09:51] jcoulaud commented on #27
Hi there !
I would like to give it a shot again, so can you help me please :) ?
Do you have any idea what's could cause the CORS issue ?
Best

[2016-12-22 21:27] sayeko opened #50 "Cannot generate lumber project to my local database."
As mention above I try to generate lumber microservice to my local mysql database that running under wamp bundle.
I get this error message:
error: Ouch, cannot connect to the database

I also set all my credentails perfectly.

[2016-12-22 23:21] sayeko commented on #50
I figure out how to manage this problem but encounter another problem :(,

when running node ./bin/www

fatal exception unresolved name something like he trying to load any file.

[2016-12-23 09:11] tranquochuy commented on #50
I think you have to use our Local address IP instead of localhost.

[2016-12-23 09:20] tranquochuy commented on #5
Is this fixed? I generate my app but nothing in it.

[](https://www.evernote.com/l/AQGTkkOrldpFcZwtulUIdNmhDQJwoXG0yMsB/image.png)

[2016-12-23 09:25] sayeko commented on #50
I fixed it but encounter in another problem when I do this command cd folder && node ./bin/www

I get crash please help me figuerd it out.

[2016-12-23 15:47] SeyZ commented on #50
Hey @sayeko

What's the stacktrace please ?:)

[2016-12-23 15:50] SeyZ commented on #27
Hey @jcoulaud can you drop me an email (sandro@forestadmin.com) to schedule a quick call to help us figure out what happens with your CORS problem ?

[2016-12-23 16:20] SeyZ commented on #37
Hey @alexparker I didn't understand exactly what you want to do :(

[2016-12-23 16:58] sayeko commented on #50
C:\Users\name last-name\Desktop\mainproject>cd "lumbertest" && node ./bin/www
module.js:471
    throw err;
    ^

Error: Cannot find module 'C:\Users\name last-name\Desktop\mainproject\lumbertest\bin\www'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.runMain (module.js:604:10)
    at run (bootstrap_node.js:394:7)
    at sta

[2016-12-24 22:09] sayeko commented on #50
Help?

[2016-12-25 15:25] SeyZ commented on #50
Hey @sayeko Unfortunately I'm not on Windows and I can't reproduce your issue. Any help/contribution is more than welcome

[2016-12-28 15:04] virtser opened #51 "No support for geometry data type field?"
I have a MySQL database with table which has the following field:
``geolocation: DataTypes.GEOMETRY('POINT')``

While looking into that filed with simple MySQL client it has the following value:
``POINT(34.7787543 32.0708966)``

But Lumber/Forest shows this field as empty value, which makes it useless to update or display geo location widget. 😢

![forest_ _instant__customizable_admin_interface_](h

[2016-12-28 15:12] virtser opened #52 "No support for MySQL enum and float field type?"
Following #51, I found that MySQL enum and floar fields are simply ignored by Forest and not displayed at all.

We have the following field in our DB model which works and displays just fine using Sequelize:

[code]

[2016-12-29 04:21] virtser commented on #52
I found that lumber creates its own models using sequelize, but it doesn't detect well the column data types. Changing it manually solves the issue.

[2016-12-29 09:47] SeyZ commented on #52
Hey @virtser ! Thanks for report! If you have some time, can you help Lumber supporting your data types natively by patching the following method according to your schema: https://github.com/ForestAdmin/lumber/blob/master/services/table-analyzer.js#L29

Thank you!

[2016-12-29 09:49] SeyZ commented on #51
Hey @virtser What do you want to see as an GEOMETRY type field on Forest? A Google map? Foretst supports "widgets" and definitively it makes sense to render correctly these type of fields.

[2016-12-29 10:06] virtser commented on #51
Yes, definitely a Google map widget and allow to change position and save
it back to database.

On Thu, Dec 29, 2016, 11:49 Sandro Munda <notifications@github.com> wrote:

[2016-12-29 18:51] erenbali opened #53 "Support for virtual fields"
I am defining a virtual type in my model definition.

[code]

The value appears in the API response and the field list where you customize the model. However, it doesn't appear on table view or detail view of the ForestAdmin page. You also can't make it the reference field.

[2016-12-30 13:43] SeyZ commented on #53
Hey @erenbali You can create "virtual fields" using Smart Field. Here's the documentation: http://doc.forestadmin.com/developers-guide/?stack=express%2Fsequelize#smart-field

Feel free to reopen this issue if necessary.

[2016-12-30 13:43] #53 closed

[2017-01-02 07:28] arnaudbesnier commented on #52
Manual changes are a workaround but definitly not a fix.
This issue should be reopened.

[2017-01-04 23:22] BrandonRomano commented on #39
I am also experiencing this issue:

[code]

[2017-01-06 05:33] jaseemkp commented on #39
I got same issue.
``
╭─Jaseem@Jaseems-MacBook-Pro.local [Fri Jan 06, 10:58] ~/projects/Samples/lump
╰─➤  lumber generate
ℹ︎  Enter your database connection details and then your admin interface will be automatically generated.
ℹ︎  Your database credentials are safe. They are only stored in the Lumber generated microservice.

? What's the database type?  mysql
? What's the database name? lumb
? Wha

[2017-01-08 11:27] roscopecoltran opened #54 "golang api / docker compose / searchkit"
Hi guys,

Hope you are all well !

I wanted to ask u 3 quick questions:

1. Do you have plan or know any golang based api for forestadmin ? if no, where can I find the list of all endpoints to create ? could not find any api doc online :-(

2. Is there any docker-compose template to boostrap quickly a local demo ? ([Laradock](https://github.com/LaraDock/laradock/) could be a good starting point ^^

[2017-01-09 07:48] SeyZ commented on #39
Hey @jaseemkp @BrandonRomano @heinzin - In order to help me identifying more precisely the problem, can you tell me if you have a schema named `public` on your database?

[2017-01-09 13:05] BrandonRomano commented on #39
@SeyZ -- Nope, it was an empty newly created database with no tables!

[2017-01-09 15:26] SeyZ commented on #39
@BrandonRomano Oh I see. I will improve that, but Lumber needs to have tables available on your database to be able to create the project. Otherwise, your admin will be simply empty.

I will add a warning message to explain what's the error.

Same things for you @jaseemkp @heinzin ?

[2017-01-09 15:37] #39 closed

[2017-01-09 15:38] SeyZ commented on #39
Please, reopen this issue if the problem is not just "an empty database" @jaseemkp @heinzin

Thank you @BrandonRomano !

[2017-01-09 15:41] SeyZ commented on #54
Hello @roscopecoltran

I'm doing very well, thank you :)

1. Lumber is completely framework-agnostic. It means the generated admin application is isolated from your customer-facing application in golang. We are based on the database, not the application. So yes, it should work :)

2. Good point! I would love to have a docker-compose with a demo database and a demo admin based on it just for testin

[2017-01-09 15:41] #54 closed

[2017-01-10 05:09] justingosan opened #55 "Cannot load http://app.forestadmin.com/ in Chrome"
[code]

I found a possible solution here https://github.com/ember-cli/ember-cli/issues/5040#issuecomment-154037707
...but i think it needs to be fixed on your end.

Thanks

[2017-01-10 05:14] justingosan commented on #55
Ok I found that this only happens when you load via http:// not https://. You guys may want to update your link from the terminal to "https://"

![](https://dump-jz10.s3.amazonaws.com/monosnap/2017-01-10_13-14.png)

[2017-01-10 05:14] #55 closed

[2017-01-10 09:05] SeyZ commented on #55
Hey @justingosan Thanks for your issue but I don't understand the issue. You're running your admin on localhost, so you don't have `https` right? Why it is not `http://app.forestadmin.com`? Can you help me to understand :) ?

[2017-01-10 09:36] justingosan commented on #55
Hey @SeyZ, I wasn't really able to explore this product totally but form the brief trial that I did, you actually need to connect to their admin interface (where https://app.forestadmin.com points to) and access your local 'lumber' via an exposed api. Great product but In the end, it wasn't the solution I was looking for.

[2017-01-10 16:59] SeyZ commented on #55
Hey @justingosan thank you! What's the pain you're trying to solve? :)

[2017-01-11 01:44] justingosan commented on #55
I simply needed a generated admin interface hosted locally :)

[2017-01-16 09:35] glennvangastel opened #56 "You're currently running Forest on your local environment."
When adding a new environment hosted on heroku, this message keeps showing at the top of the admin UI.

I've tried deploying my local (localhost:3000) environment to the deployment environment, but to no avail.

Is there a setting I'm missing?

[2017-01-16 10:08] glennvangastel commented on #56
This has resolved itself after renaming the environment from 'development' to something else. Closing this issue.

[2017-01-16 10:08] #56 closed

[2017-01-18 22:18] russelldc commented on #5
Any update on this?

[2017-01-20 16:28] felipemarques8 commented on #5
[code]

[2017-01-22 05:37] codeHatcher commented on #44
I'm interested in the mongo variant, is it possible to keep this issue open until it is implemented so when it is closed I can check it out?

[2017-01-23 09:52] SeyZ commented on #44
You're right @codeHatcher !

[2017-01-27 11:34] emresebat commented on #13
Hi

I'm also having this issue, my database is postgresql and it's hosted on AWS RDS. Since the tables can be generated, I don't think it's a connection issue.

My error shows:
[forest] 🌳🌳🌳  getaddrinfo ENOTFOUND dbadmin dbadmin:5432

Why my database username is used like an address here? I have some special chars in my password can it be broking the database url?

I created a project before which

[2017-01-27 12:30] alexpchin commented on #44
Looking forward to it!

[2017-01-27 19:30] alexthewilde commented on #44
@SeyZ can you give a little update on progress here? Is this a matter of weeks or rather months?

[2017-01-29 05:29] msabae commented on #44
@SeyZ yes please! Any idea when this could be rolled out? It would be great if you can give us some sort of ETA. Thanks a lot!

[2017-01-29 17:04] cameronrll commented on #44
Would also be interested in a mongo version. If possible, like @msabae said, an ETA would be great

[2017-01-31 05:54] subodhpareek18 opened #57 "Installation failing on windows 10"
[code]

[2017-01-31 06:09] zusamann commented on #57
Was able to continue by manually doing a `npm install` in the directory. So far it seems to be working fine.

[2017-02-01 07:03] sayeko commented on #11
same issue

[2017-02-01 08:08] sayeko opened #58 "Removing lumber old project"
Hi I have several project of lumber but I cant delete them there is no button or flag that I can click to remove them.

[2017-02-02 06:13] nitinmaram commented on #22
Same here

[2017-02-05 18:43] kudos commented on #29
@SeyZ you say unfortunately like it was unavoidable, but then why did you build it this way? I guess you have plans to monetise it at some point? You need to be more clear that this is some hybrid model you have used, and not the obvious model that would be expected.

[2017-02-09 16:34] walpoletim-bjss opened #59 "Lumber not generating ENUM's for postgres"
Lumber did not generate ENUM's for postgress.

This was generated
gender: {
      type: DataTypes.STRING,
    },

It should have generated the ENUM
gender: { type: DataTypes.ENUM(‘Male', ‘Female') },

[2017-02-09 17:15] walpoletim-bjss opened #60 "Cant set Users per Environment"
I have added users to the Team, but once added, they have access to all environments (DEV/STAGING/QA/PRODUCTION)

I would expect that you would be able to specify which users in the Team had access to which environments, and with which permissions

[2017-02-14 08:55] walpoletim-bjss opened #61 "Check boxes not Visible"
Check boxes are not always visible which means you cannot select a row to carry out actions

[2017-02-15 14:24] walpoletim-bjss opened #62 "Postgress interval Types"
Postgress Interval types are not displaying, and can't update values which are mapped to interval types

[2017-02-15 14:24] #61 closed

[2017-02-16 19:21] jnmitch opened #63 "Oops, your database is empty."
After entering the prompts, Lumber returns "Oops, your database is empty. Please, create some tables before running Lumber generate." Isn't that what the 'lumber generate' script is supposed to do - create some tables? Of course a new database would be empty....waiting to be populated by the script.

So, I have tried "creat[ing] some tables before running Lumber generate" just to have something al

[2017-02-20 15:34] cristianvaleri commented on #58
Also I need this feature

[2017-02-22 11:30] MEKNI-D opened #64 "Lumber failed to deploy to heroku"
When trying to deploy admin dashboard to heroku this message knowing that I logged into heroku but still getting this message. I also created an app on heroku and set up the environment variables, please help

"Ouch, you're not authenticated to Heroku yet. Please, run `heroku login` before."

[2017-02-25 12:14] v-ken opened #65 "operator does not exist: integer = character varying"
DB: Postgres

Getting this error when accessing certain tables:
`operator does not exist: integer = character varying`

Quick google search gave me this:
http://stackoverflow.com/questions/23622993/postgresql-error-operator-does-not-exist-integer-character-varying

Looks like we're comparing an INT with a VARCHAR?

[2017-02-27 07:10] sreenathe12 commented on #22
Its not working guys..........

[2017-02-28 10:15] SeyZ commented on #64
@MEKNI-D What happens when you type `heroku login` and the error said?

[2017-02-28 20:10] MEKNI-D commented on #64
It tells me that I am logged in as "my email" but when I try to type lumber heroku-deploy or lumber heroku-deploy-c I get a warning that indicates "Ouch, you're not authenticated to Heroku yet. Please, run heroku login before."

[2017-03-02 18:01] eddiedsitt commented on #58
+1
major needed feature as i created a project a few times but only have one working project.

[2017-03-02 22:00] florentb opened #66 "Broken Smart field when source fields are hidden"
Let's take the following basic example:

[code]

This work as expected in the data grid as far as source fields (`firstname` and `lastname`) are visible. But if we hide the source fields (rather relevant in this case), the `fullname` smart field starts showing `undefined undefined` after a refresh.

Do am I missing something ?

[2017-03-03 15:29] florentb opened #67 "Actions HTTP request payload documentation"
Documentation says :

[code]

But it seems to be:

[code]

Right ?

[2017-03-06 12:27] belotte55 commented on #66
They know it, its a problem and they will fix it soon ;]

[2017-03-15 01:30] droustchev opened #68 "`lumber generate` broken in v1.2.6"
I tried generating a microservice both on node v7.7.1 and v6.10.0 with a postgres db that is not empty and get the following error:
[code]

Generation works with the `--no-db` option. I also installed the previous version (`1.2.5`) and was able to successfully generate the microservice. This is all on Ubuntu 16.10.

[2017-03-15 16:45] SeyZ commented on #68
Hey @droustchev Thanks for report. Can you confirm me it's fixed on the 1.2.7 version?

[2017-03-15 19:15] droustchev commented on #68
Hey @SeyZ, tried it with version 1.2.7, but am still getting the same error.

[2017-03-16 08:44] SeyZ commented on #67
Right!

[2017-03-16 08:46] #67 closed

[2017-03-16 13:09] #68 closed

[2017-03-16 13:10] SeyZ commented on #68
Hey @droustchev Thank you one more time :) I think it's now fixed in the 1.2.8. Can you try again please ?

[2017-03-19 15:01] droustchev commented on #68
@SeyZ, I can confirm that v1.2.8 seems to have fixed it for me. Thanks!

[2017-03-19 19:57] jnmitch commented on #63
Closing. Moved to a more robust and better maintained framework.

[2017-03-19 19:57] #63 closed

[2017-03-25 11:27] emresebat commented on #13
Hi

I fixed my own problem, the problem occurs if database password has ? or any other special chars in it.

[2017-03-27 17:20] bosgood opened #69 "lumber-cli generate doesn't accept connection-url flag"
Hi Forest,

Thanks for an awesome admin. I noticed the `lumber generate` command lists `--connection-url` as a [possible flag](https://github.com/ForestAdmin/lumber/blob/master/lumber-generate.js#L26), but I don't see any corresponding implementation to parse connection URLs.

Here's the output I get when providing that flag:

[code]

It'd be awesome to have this (and other flags for every other i

[2017-03-29 15:57] landerton opened #70 "Using a relationship search input to change a foreign nothing happens on save."
I have a model called 'categories'. A category can belong to another category and can have other categories beneath it.

On the Forest Admin frontend, when I want to change the parent_id of a category, I use the relationship search box and choose a new parent category. When I save, the parent category remains as it was - unchanged.

It looks like the problem may be that the first call to change th

[2017-03-29 19:48] gusgustavo commented on #44
Hey, updates about this?

[2017-03-30 21:17] SeyZ commented on #69
Hey @bosgood You're right, the --connection-url params is not parsed, this is a real issue.\

However, I'm not sure it is the best the way to handle DB migrations. The typical use case of Lumber is to scaffold the admin and then customize the models for missing relationships (e.g. hasMany), validations, and more.

I think Lumber needs to have a "Lumber migrate" that creates new models and fields a

[2017-03-30 21:23] SeyZ commented on #13
Hey guys, let me close this issue. I think this one is a little bit "generic". Feel free to create a new one for your specific problem (if you still have one 😄  )

Cheers!

[2017-03-30 21:23] #13 closed

[2017-03-30 21:23] #16 closed

[2017-03-30 22:02] bosgood commented on #69
That sounds like a good plan too. As long as there is some way to work that model-generation magic again, that would work. Especially if it doesn't touch any other part of the generated app, since it's possible/likely that stuff gets customized post-generation.

Thanks for addressing this!

[2017-04-03 14:28] sahilnarain opened #71 "Express/Sequelize - Crashes on accessing smart field"
The Forest dashboard was set up using Lumber for Express/Sequelize.

I don't have any business logic integrated with the app right now, so I wrote a dummy function which returns static values.
[code]

Though the smart field is visible on the UI, clicking on the field crashes the server with the error -

*[forest] 🌳🌳🌳  record[("get" + _.capitalize(...))] is not a function*

[2017-04-04 09:36] romainquellec opened #72 "Lumber doesnt like UUID"
Hello !
The goal of this project is awesome. I was looking a admin-on-rest like, and Lumber seems to be the perfect solution.

I'm working on a new project and I'm using a lot of UUID's with postgresql. And lumber seems to hate that.

I got errors with relationships at the beginning so I commented it in two or three files in models.
After that, I launched the admin to get datas and got a lot of :

[2017-04-04 09:40] romainquellec commented on #57
I got exactly the same.

[2017-04-04 22:58] jamesone commented on #72
Any update on this?

[2017-04-05 11:06] SeyZ commented on #57
Thanks for report @zusamann and @romainquellec - Unfortunately I'm not on Windows 10 and it's hard for me to reproduce this issue. Contributions would be awesome :)

[2017-04-05 11:12] SeyZ commented on #72
Hey @jamesone @romainquellec let me try to reproduce this issue. I'll keep you updated!

[2017-04-05 11:35] #72 closed

[2017-04-05 11:35] SeyZ commented on #72
feel free to reopen this issue if needed :)

[2017-04-05 11:40] jamesone commented on #72
Thanks for fixing it so fast!! Will reopen if I see anymore issues

Sent from Outlook

On Wed, Apr 5, 2017 at 9:35 PM +1000, "Sandro Munda" <notifications@github.com> wrote:

feel free to reopen this issue if needed :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-05 12:03] zusamann commented on #57
hey @SeyZ what would you like me to do? I can record my screen and upload it here

[2017-04-05 12:34] SeyZ commented on #57
A contributor on win10 would be the perfect solution

[2017-04-07 15:47] adeptues opened #73 "Schema name should be an option on generate"
Currently there's no way to pass in an alternative schema name if your schema does not reside in `public` making this tool useless

[2017-04-07 18:42] SeyZ commented on #73
You're right, I'm currently working on this. Thanks for report. I'll keep you posted!

[2017-04-12 01:55] Permpkin commented on #63
@jnmitch Is there currently a way to resolve this issue?

[2017-04-12 02:30] Permpkin commented on #27
I have the same issue, when asked for the password it spits out "http://localhost:3000/forest/sessions net::ERR_CONNECTION_REFUSED" in the console. Is this supposed to be setup locally? I had set it up on a VPS?

[2017-04-12 17:28] jnmitch commented on #63
@Permpkin I don't know. I abandoned Lumber.

[2017-04-13 15:58] SeyZ commented on #27
@Permpkin it's suppose to work with a localhost URL without any problem. We can investigate more your issue in details if you drop me an email sandro@forestadmin.com ;)

[2017-04-17 10:13] nickevansuk commented on #51
+1 for this, and even better if you can move the pin on the map to "correct" the lat lng

[2017-04-17 10:30] nickevansuk commented on #71
+1 please do include smart fields in the Lumber docs. I'm looking at calculated fields specifically.

[2017-04-17 12:29] manurana commented on #71
this is the gist that will help replicate the issue : https://gist.github.com/manurana/5b6e54a21cebed8f0df13b2c010f06d0

[2017-04-19 03:12] indrasantosa opened #75 "How to deploy other than to heroku?"
Hey, as mentioned in the title, how to deploy other than to Heroku?
Thanks in advance!

[2017-04-25 10:01] manurana commented on #75
##STEP1
If you have already created a github repo for your generated code, you can clone it on any machine.
[code]
##STEP 2
Create a new environment in your Forest admin UI, and copy its environment secret.

##STEP3
create a dotenv file in the lumber-admin dir in your new machine (copy the one in your local install), and replace the environment secret with the new one
[code]
##STEP4
Hard refresh y

[2017-04-25 10:12] manurana commented on #71
This is what worked for us
https://gist.github.com/manurana/da4dfec0ef1d7b532fa7e520e38c689f

Note that in the `router.get`, we don't need to add the `/forest` path, as it is implicit in the loading of the models.

[2017-05-02 08:02] hamelsveld opened #76 "Error"
💀  Oops, your database is empty. Please, create some tables before running Lumber generate.💀

This is what i get when trying to do a lumber generate....

Lumber version 1.2.9

is there a fix?

[2017-05-02 17:59] mgrahamjo opened #77 "[+] SQLite Support"
Awesome looking tool! Just wanted to let you know you'd have at least one more user if Lumber supported sqlite.

 FWIW, according to the 2017 Stackoverflow developer survey, sqlite is more commonly used than Mongo and tied with PostgreSQL.

[2017-05-05 13:37] tejasrsuthar commented on #5
Facing same issue of

`Oops, your database is empty. Please, create some tables before running Lumber generate.💀`

I believe there's no instruction of database generation or something.

[2017-05-05 16:17] hamelsveld commented on #5
I've the same issue :( it does not fill the database.

[2017-05-06 05:37] tejasrsuthar commented on #5
@author, I would kindly request,

Its always good to have information on main README.md file, if the repository is not maintained or not getting time to respond to issues.

This will help other developers save time installing and finding solution for problems.

[2017-05-08 07:47] SeyZ commented on #5
Hey @tejasrsuthar this is maintained sorry for the delay :)

The problem is that sequelize (the ORM we use after generating the app using Lumber) does not have the support to specify the schema to use to analyze all the tables of a database. Let me schedule a fix for them and I think we will use our fork because sequelize is verryyyyyy slow to ship a new version.

Thanks!

[2017-05-08 07:49] hamelsveld commented on #5
cool cant wait

Met vriendelijke groet,

Sven
http://200bar.net
“What I dream of is an art of balance”

[2017-05-08 11:07] tejasrsuthar commented on #5
Dear @SeyZ,
Thanks bro, no problem at all. Thtat's great!
I'll definitely wait for this and keep up the awesome work.

[2017-05-10 01:48] TMaYaD opened #78 "Regenerate models for existing project."
Add command to regenerate models.

[2017-05-10 13:49] KennethanCeyer commented on #64
I faced same error.

My command is follows.

[code]

OS: Windows 10.

lumber version: 1.2.9

heroku cli version: heroku-cli/5.9.2-2622131 (windows-amd64) go1.7.5

[2017-05-10 15:29] yanisIk commented on #44
Forest admin already works with Mongoose, so they already have the code ready, I think they just need to adapt it to the open source version of Forest.

I hope it will be soon, Lumber is really one essential piece missing in the Node.js world.

[2017-05-11 08:05] VadimShvetsov commented on #44
It would be nice if we can use mongoose models without refactoring it with new types or other unnecessary syntax sugar.

[2017-05-19 09:42] cristianvaleri opened #79 "Cannot read property 'toJson' of null"
Hi,
since upgraded UI to new version of forestadmin i receive this message when i try to create new record.
when create new record in a table directly data was saved but i receive this message.
if i try to add a child record to an entity i receive message but no data was saved into DB.

Thanks

[2017-05-19 21:31] Notifium commented on #27
Hi,
Is there any solution to this?I'm getting the exact same issue:curl responds with 204 code, ERR_CONNECTION_REFUSED in console.

Regards,
Andy

[2017-05-22 13:37] Permpkin commented on #27
@Notifium It seems to be ( as Seyz mentioned ) designed to work with "localhost" ( rather than on a remote VPS ). Try setting it up on your local machine ( That's how I resolved the ERR's ).

[2017-05-23 08:41] SeyZ commented on #73
@adeptues It's now available :) Check the version 1.3.0 👌

[2017-05-23 08:41] #73 closed

[2017-05-23 08:42] SeyZ commented on #76
@hamelsveld I think your database is under a non-default schema (public on postgres). Lumber 1.3.0  supports other schema now. Can you try with the new version? Feel free to reopen this issue if needed.

[2017-05-23 08:42] #76 closed

[2017-05-23 08:42] SeyZ commented on #71
Fixed 👍

[2017-05-23 08:42] #71 closed

[2017-05-23 08:44] SeyZ commented on #65
@v-ken I think it's related to your DB schema. I think you have a foreign key (VARCHAR) that points to a primary key (INT) or the opposite. Can you try to fix it? Reopen this issue if you think it's a lumber bug :)

[2017-05-23 08:44] #65 closed

[2017-05-23 08:44] SeyZ commented on #60
We've decided to let users access all remote environments but you can configure the default one 👍

[2017-05-23 08:44] #60 closed

[2017-05-23 08:45] SeyZ commented on #58
@sayeko @eddiedsitt @cristianvaleri you can now delete projects in the Forest Admin UI 👍

[2017-05-23 08:45] #58 closed

[2017-05-23 08:45] SeyZ commented on #42
@emir-harbinja It's now available on the version 1.3.0 👍

[2017-05-23 08:45] #42 closed

[2017-05-23 08:46] SeyZ commented on #5
The Lumber version 1.3.0 supports the option to specify a database schema. I think it fixes this issue 👍

[2017-05-23 08:46] #5 closed

[2017-05-24 07:58] SeyZ commented on #75
@indrasantosa you can now use the command `lumber deploy` 👍

[2017-05-24 07:58] #75 closed

[2017-05-29 05:41] indrasantosa commented on #75
Thanks Sandro :)

On Wed, May 24, 2017 at 3:58 PM, Sandro Munda <notifications@github.com>
wrote:

[2017-05-29 09:00] manurana opened #80 "Errors on upgrading forest-express-sequelize"
I have two simple count metrics on my dashboard. After upgrading this package, I am getting the following error. Running `lumber-cli@1.3.1`, and `forest-express-sequelize@1.1.3`
[code]

[2017-05-30 15:22] manurana opened #81 ""lumber generate" does not seem to pick up FLOAT data types"
This is mySQL
Some fields were missing in one of the tables. One common thread was that they were all FLOAT
Don't know if thats the right diagnosis, but seems like the cause

[2017-06-09 10:21] balda opened #83 "Action restricted to a segment"
Is it possible to restrict an action to a model segment?

For example, `Users` model segmented in `active` users and `inactive` users.

[code]

I want to add a `Make Active` action when `inactive` segment is selected. And `Make Inactive` when `active` segment is selected.

[2017-06-09 13:55] schwarzh80 opened #84 "Date fields (timestamps) ignored"
I have tried ForestAdmin first time today and I just realized that somehow all date fields are ignored from my database model. I use a MariaDB and have fields that are named "date_created", "date_updated" and "date_deleted" - all are TIMESTAMPS.

I have also tried a MySQL database with the same model and even there all date fields do not show up.

<img width="890" alt="bildschirmfoto 2017-06-09 um

[2017-06-11 17:35] manurana commented on #80
Resolved with the latest update `forest-express-sequelize@1.1.6`

[2017-06-13 11:45] #80 closed

[2017-06-13 14:52] KevinL59 opened #85 "Problem while getting id of selected items with custom actions"
Hi everybody,

I have an issue when i trying to reach ids of selected items of an actions.

I selected for exemple two items :
<img width="694" alt="ids_capture" src="https://user-images.githubusercontent.com/14981739/27087752-285068da-5056-11e7-8f75-8941619bd6f9.PNG">

I click on my action button and the ids of my item are send to my lumber back-end on an heroku instance.

I used :
[code]
to prin

[2017-06-15 05:03] monteirobrena opened #86 "Empty returns"
Everything seems correctly configurated, no errors in log application but no results appear in the admin interface.

In web interface I've been receive this error:

[code]

There is my console output:
[code]

[2017-06-19 12:20] arnaudbesnier opened #89 "CLI Help - Add the description of the --ssl option in the lumber --help"

[2017-06-19 14:55] arnaudbesnier opened #90 "Field Names - Lumber should support the generation of model fields with spaces."
An example on MSSQL (look at the "Database Version" field), what we have today:
[code]

What we should have:
[code]

[2017-06-19 15:03] arnaudbesnier commented on #83
hey @balda, you can restrict actions to a segment.
You just have to:

- create your segments in "Edit Layout" mode in the UI (http://doc.forestadmin.com/developers-guide/#creating-a-segment),
- then, declare your action (http://doc.forestadmin.com/developers-guide/#what-is-a-smart-action),
- once the action is accessible in the UI, you can restrict it to the segments you want in the settings of th

[2017-06-19 15:06] arnaudbesnier opened #91 "MSSQL Schemas - Schemas are not currently supported"
What is a schema: https://stackoverflow.com/questions/529142/what-good-are-sql-server-schemas

[2017-06-19 15:11] arnaudbesnier commented on #91
Lumber should detect the tables schema if any and define properly the models. The missing option is `schema`:
[code]

[2017-06-19 15:12] arnaudbesnier commented on #91
Without it, Forest cannot access to the collection data

[2017-06-25 07:48] ssafras opened #92 "Typo (minor) in Advanced -> Adding belongsTo relationships"
The example:
[code]
Should be:
[code]

[2017-06-25 15:33] lyudad opened #93 "How add new view"
I cteated new Smart View, it is empty, where I should paste the code

![default](https://user-images.githubusercontent.com/25103090/27517474-25517352-59d6-11e7-95dc-541f9b0a5d35.PNG)

 if I want work with this view.  documentation have example only for action

[2017-06-25 15:47] lyudad opened #94 "add roles problem"
How add new role to admin panel? or change permissions for exists one. for example show some table for user with role Admin and not show for role Editor

[2017-06-25 15:59] lyudad commented on #93
finaly find documentation http://doc.forestadmin.com/developers-guide

[2017-06-29 09:51] arnaudbesnier opened #96 "MSSQL Triggers are not detected"
Lumber should set the `hasTrigger: true` option in models that have MSSQL triggers.

See https://github.com/sequelize/sequelize/issues/4807

[2017-06-29 10:13] arnaudbesnier commented on #92
@ssafras thanks for the feedback.

I just fixed it in the README.

[2017-06-29 10:13] #92 closed

[2017-06-29 10:15] arnaudbesnier commented on #93
So this is a closed issue right?

[2017-06-29 10:15] #93 closed

[2017-06-29 10:24] arnaudbesnier commented on #94
Hi @lyudad,

Tables display configuration is based on Teams (not on Users Roles).
So if you want to have different configuration for different people, you have to create teams and then configure the layout for each of the team.

Finally, you will be able to invite teammates to the teams you want.

Hope it will help!

🌲🌲🌲

[2017-06-29 10:24] #94 closed

[2017-06-29 10:26] lyudad commented on #94
I did'nt find how I can open some models to one team and other models to other team

[2017-06-29 10:29] arnaudbesnier commented on #84
Hey @schwarzh80, thanks for the feedback.
The fix should be validated soon.

[2017-06-29 10:30] #83 closed

[2017-06-29 13:50] louisteenbrink commented on #94
Hey @lyudad

In Forest, you can create different teams (go to your project settings -> Teams).

You can configure the UI of each teams: hide/show collection, define collection in read-only mode or configure dashboards. See here [http://g.recordit.co/j6llYPvCWs.gif](url) how to hide/show collections.

Once you're done configuring the UI, you can invite your teammates in your different teams. Then,

[2017-07-07 10:39] #84 closed

[2017-07-10 05:49] nzhenry opened #99 "Can't delete old project"
I created a new project with the same name as my old one. Now I want to delete the old one but I can't get in. When I select my old project from the projects list, it asks me to re-authenticate and then says "Forest cannot retrieve any users for the project you're trying to unlock."

[2017-07-10 05:50] nzhenry commented on #99
Might be a good idea to prevent creation of projects with duplicate names.

[2017-07-10 05:56] nzhenry commented on #99
Ignore me. Found the delete button on the projects list page.

[2017-07-10 05:56] #99 closed

[2017-07-10 05:58] nzhenry commented on #37
@Appsido see https://github.com/ForestAdmin/lumber/issues/58

[2017-07-12 11:29] arnaudbesnier commented on #85
Hi @KevinL59,

The issue definitely comes from Lumber.
I guess that the model declaration in your generated application have several attributes that contain the `primaryKey: true` option.

Lumber has some know issues on primary keys detections, so what you have to do to fix this manually is to edit your models (in the code) and delete the `primaryKey: true` options for columns that are not a prima

[2017-07-13 09:51] daniel-pedersen opened #100 "Support for Sequelize v4"

[2017-08-02 02:02] i3zhe opened #101 "Does lumber support i18n?"
I believe that most people need multiple languages Admin Interface, Do we have any plan on i18N?

[2017-08-04 08:20] oxplayru opened #102 "Exclude .DS_Store on macOS"
If DS_Store exists in forest folder then loading fail with this error:

[forest] 🌳🌳🌳  Forest customization failed due to a syntax error: Unexpected token ILLEGAL in MY_PATH/.DS_Store:1

[2017-08-11 05:47] chriseaton commented on #102
Probably would be good just to ignore dotfiles entirely.

[2017-08-11 12:04] manurana opened #103 "Custom responses not working when overriding admin actions"
I am handling a PUT on a particular model with my own code. It does nothing but send back a custom response. The UI is receiving that response, but not displaying it.

Here is my code
[code]

If I inspect the network request, I can see that this is the response that is coming
`{"success":"Please close this record as it has been deactivated"}`

But the UI is not displaying it. It displays the defau

[2017-08-13 03:50] bidhan-a opened #104 "Any way to dynamically set enum values in smart action?"
Hello all,

First of all, I'd like to ask if it's possible at all to pre-populate the form fields in smart action using the model. I couldn't find an example anywhere so I don't know if it's supported. One of the table columns contains a list and I would like to pass it to the 'enums' property to make it dynamic. For example:

[code]

Thanks for any help.

[2017-08-14 10:54] grepsr commented on #104
+1

[2017-08-22 00:49] jugaltheshah opened #105 "401 when trying to log in to lumber admin"
Hi all,

I'm able to create a project fine using lumber-generate. It seems to create what it needs in a folder with the project name I specify. Furthermore, I'm able to go to the url it directs me to, http://app.forestadmin.com. The problem is, once I log in to forest admin using my username and password, it asks me to choose which project, and asks for my password again. At this stage, it flashes

[2017-09-06 20:15] arthurflor opened #106 "Any way to make login in a custom API?"
Hey everyone!
My project consists make a admin panel and a app for insertion of the data.
Well, the lumber/forest admin is amazing, but I have a doubt with the app login. Is there any way to make authetication/login in a custom API for the app using the functions of the forest? it isn't ideal to create another table "users" to do that.

Any soluton is welcome, thanks!

[2017-09-07 11:57] SeyZ commented on #106
Hey @arthurflor I think it's a bad idea to share the authentication API between your app and your admin. The permissions / roles / etc. are completely different. So no, it's not possible and it won't :)

[2017-09-07 11:57] #106 closed

[2017-09-08 08:17] SeyZ commented on #100
Upgraded to sequelize 4.8.0 - thanks!

[2017-09-08 08:17] #100 closed

[2017-09-14 13:12] jeremyalan opened #107 "MSSQL - IDENTITY columns"
I have a simple database, 2 tables with a FK between them (one-to-many).  For the sake of this issue, let's call them Parent and Child.  Both tables have an IDENTITY column as the PK, and I'm using `lumber-cli` + Sequelize to generate models against an existing database (running locally).

Here's what I'm hoping to achieve:
- When creating new Parent records, the ID field is not editable
- When vi

[2017-09-16 19:33] yanisIk commented on #44
Any news about that ?

[2017-09-18 15:12] Aubron commented on #3
This is the same situation that I am experiencing. Willing to provide additional details or logs as will help.

[2017-09-18 15:23] SeyZ commented on #3
Hey @Aubron Are you on Windows, Linux or OSX ? Can you also tell me the version? Thanks :)

[2017-09-18 15:29] Aubron commented on #3
So this was on an Ubuntu 16.04 with the sudo apt-get install nodejs version of Node. This was resolved by using n to install node latest.

[2017-09-19 23:06] ConsciousCode opened #108 "Exits without error or installing anything"
[code]

[code]

I'm not really sure what to make of this. At first I thought it was misconfiguration or a typo, but I've tried this several times with the same result.

[2017-09-21 07:10] SeyZ commented on #108
Hey @ConsciousCode - very strange behavior. Is it possible to share me a dump of your database (without sensitive data) of course? By email is good too! Then, I'll certainly be able to reproduce your issue and fix it.

[2017-09-21 08:13] arnaudbesnier commented on #101
Hi @i3zhe, it is not in the current roadmap of Forest to support any other languages than english.

We can discuss about this if you're looking for a Custom Plan.
Feel free to contact us at support@forestadmin.com.

🌲🌲🌲

[2017-09-21 16:24] ConsciousCode commented on #108
It's an empty database I created just before running. Is that the problem?

[2017-09-24 12:17] vadimshvetsov opened #109 "Does Rich Text Editor Field supports HTML editing?"
At my React app I have component with dangerouslySetInnerHTML attribute.

Mongoose Post model provides content field for this component and I'm stuck with Rich Text Editor field in ForestAdmin. When I click at button <> which expected to deliver some sort of source code but It's only wrapping all this text in <pre> tag. How could I edit field with html code inside from Forest Admin?

As a workarou

[2017-09-25 18:54] beng94 opened #110 "Routes folder empty after generation"
I'd like to try out lumber-cli, so I setup a simple Postgres db, with a simple schema, with a single row in it. The generator runs successfully, saying "👍  Hooray, installation success! 👍".

If open up the admin UI, I see my table, but it can't fetch my data. In the console, there's the following error:

Looking at the code, it seems evident that the problem is with the missing route.

Any ideas?

[2017-09-25 21:11] beng94 commented on #110
Just realised, that you use 'forest-express-sequelize' package for the API generation and I won't find the API routes in the routes folder. Do you use the routes folder for anything, or it's just an auto generated folder?

[2017-09-26 05:39] #110 closed

[2017-10-03 12:41] CherIgor opened #111 "lumber generate fails with error (Windows, MSSQL, after npm install -g lumber-cli --save)"
Windows 8.1 [Version 6.3.9600]
MSSQL Server 2016

[code]

[code]

After the fail folder "C:\forest\kino-admin10\models" is successfully created and filled with models for MS SQL Server tables, so credentials to DB are correct. But elmost all other folders and files are missing or very small.

Content of C:\forest\npm-debug.log:

[code]

Thanks.

[2017-10-10 07:14] manurana opened #112 "Error using lumber generate : mysql2 dependency needed"
Self explanatory

[code]

[code]

Works after `npm install -g mysql2`
( I am having other issues while creating an account, but thats probably another story )

[2017-10-12 04:17] arthurflor opened #113 "Cors error? Azure"
Hi!
I deployed the project on Azure with some custom rest api.
But the problem is, I can request the API, but not access through the forest url.

The cors are enable, so I no have a ideia anymore

[2017-10-12 08:27] florentdestremau opened #114 "Can't access to lumber through Cloudflare"
I get a "CORS error" but when I ping locally the server is up and running.
What alternative other than using the Symfony bundle do I have ? I loved the idea of having the admin separated from the main source code

[2017-10-19 14:23] #112 closed

[2017-10-19 14:23] SeyZ commented on #112
Thanks for the report @manurana it's now fixed

[2017-10-26 15:08] arnaudbesnier commented on #114
@florentdestremau Can you provide more information about your issue? Anything that could help us understand, at which step of your process you're blocked (logs, screenshots,...). Thanks.

[2017-10-26 17:20] florentdestremau commented on #114
I'll upload anything I can this week-end.

From what I understand it's a problem with the fact that Cloudflare masks my server IP so the lumber service can't be detected by an external source. What I'm guessing I should do is proxying the `:3000` port on `80` with apache or nginx and link it to a domain...but then again I'm not sure that forest's app would be configurable for this.

[2017-10-27 10:26] manurana commented on #81
Duplicate of #52

[2017-10-27 10:26] #81 closed

[2017-11-01 20:09] #113 closed

[2017-11-09 09:45] lucasgerard opened #115 "[Layout edition] Moving attributes fields position is more difficult than before"
Quick not to tell I'm struggling to move the attributes position since one the last updates. Thanks!

![screen shot 2017-11-09 at 10 44 42](https://user-images.githubusercontent.com/5589858/32598828-046657e0-c53b-11e7-8e7a-856aa2500d5f.png)

[2017-11-23 16:34] blondie63 opened #117 "error 1"
I've tried to install with sudo npm install -g lumber-cli
but i've this log:

77 verbose Darwin 17.2.0
78 verbose argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "lumber-cli"
79 verbose node v8.9.1
80 verbose npm  v5.5.1
81 error code 1
82 error Command failed: /usr/bin/git clone --depth=1 -q -b feature/support-schema git://github.com/ForestAdmin/sequelize.git /Users/mauro/.npm/_cac

[2017-11-24 09:21] SeyZ commented on #117
@blondie63 - `82 error /Users/mauro/.npm/_cacache/tmp/git-clone-df4300a2/.git: Permission denied` means you have to run your command with `sudo` first.

`sudo npm install -g lumber-cli`

[2017-11-24 09:21] #117 closed

[2017-11-24 09:30] blondie63 commented on #117
Take a look on attached files

Thanks

Mauro

Da: Sandro Munda [mailto:notifications@github.com]
Inviato: venerdì 24 novembre 2017 10:21
A: ForestAdmin/lumber <lumber@noreply.github.com>
Cc: Mauro Miotello <info@ashnet.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [ForestAdmin/lumber] error 1 (#117)

@blondie63 <https://github.com/blondie63>  - 82 error /Users/mauro/.npm/_cacache/tmp/git-

[2017-11-29 14:18] bingchengcool commented on #108
I have the problem, too.

[2017-12-01 10:27] arnaudbesnier commented on #115
Hey @lucasgerard, so you can't move the field, or it is just a display issue?

Do you have a field having a very long name?

[2017-12-01 10:40] arnaudbesnier commented on #102
Hey @oxplayru,

Thanks for the report!

I think this issue is fixed now. You just have to upgrade the `forest-express-sequelize` (https://github.com/ForestAdmin/forest-express-sequelize) package of your project generated by Lumber.

Please re-open this issue if it is not fixed.

🌲🌲🌲

[2017-12-01 10:40] #102 closed

[2017-12-01 10:45] arnaudbesnier commented on #85
@KevinL59, Please reopen this issue if it didn't help.

Thanks

[2017-12-01 10:45] #85 closed

[2017-12-05 08:12] manurana commented on #103
Hi @arnaudbesnier : the documentation is here : https://doc.forestadmin.com/developer-guide/lumber.html#customizing-response

[2017-12-05 09:22] louisteenbrink opened #118 "node-postgres doesn't accept a hashtag in your password"
This is the error message I get after running Lumber generate and enter my db credentials

[forest] 🌳🌳🌳  Unexpected error: getaddrinfo ENOTFOUND forest forest:1

**Problem**

The error appears because your password contains a # character. The Sequelize ORM (library we use in Node.js to query your database) has a internal bug when the environment variable DATABASE_URL contains a # 😨

**Solution**

[2017-12-05 09:23] louisteenbrink commented on #118
Issues solved by replacing "#" by "%23" in my db password

[2017-12-05 09:23] #118 closed

[2017-12-05 14:09] arnaudbesnier commented on #77
SQLite is now supported.

🌲🌲🌲

[2017-12-05 14:09] #77 closed

[2017-12-05 15:30] mathieuh opened #119 "[lumber] Lumber failing to generate on adonisJS/sqlite"
When running ```lumber generate``` I get the following error:
```(node:5978) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Please install sqlite3 package manually```
```(node:5978) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-z

[2017-12-05 23:07] arnaudbesnier commented on #119
Hey @mathieuh, as a workaround you could run `npm install sqlite3 -g` and it should work.

Let me know if it helps.

[2017-12-07 10:27] mathieuh commented on #119
Hi @arnaudbesnier, yeah it works when I install it globally, thanks!

[2017-12-07 15:33] SeyZ commented on #119
Hey @mathieuh for your information, we've fix the missing sqlite3 npm package in the package.json 👍 Thanks for report!

[2017-12-07 15:33] #119 closed

[2017-12-17 20:37] BenBach opened #120 "Error during heroku deploy"
Hi

I have several issues during running the heroku deploy script:
The first one was that github two factor authentication is not supported. This one I solved by temporally disabling it.

But than I get the following error:
[code]

Someone with the same issue?

[2018-01-02 06:34] mitchdowney opened #122 ""Forest cannot retrieve any users for the project you're trying to unlock." - can't login to project"
Hi Forest, I'm a big fan of the project, but still a noob and have found myself completely frozen out of using Forest right now, and don't know what I'm doing wrong. Part of the problem is I haven't used Forest since I set it up a month ago, and I must have forgotten something since then...

Here are the steps I take to reproduce the issue:

– I run `lumber user` and see my expected email address

[2018-01-06 04:41] mitchdowney commented on #122
Resolved the issue. I don't know what steps I took at 12:30 A.M. that lead to the problem, but I ended up logging into lumber using a different email address, created the project again, and confirmed that I could log in to the project successfully. Then I logged out, logged back in as my original email address, deleted the old project, recreated it, and I could login again.

I could have swore I t

[2018-01-06 04:41] #122 closed

[2018-01-12 00:11] Aarbel opened #123 "Lumber Generate doesn't support mongodb"
![image](https://user-images.githubusercontent.com/25119847/34853676-606de734-f735-11e7-88dc-280f7a6547ea.png)

[2018-01-16 16:45] SeyZ commented on #123
You're right, MongoDB doesn't have the notion of "schema" so Lumber is unable to analyze it. However, Forest supports MongoDB and the easiest way to get you onboard is to start from this base repository: https://github.com/ForestAdmin/forest-examples/tree/master/examples/mongodb-database/simple

Feel free to contact us if you cannot manage it, thanks!

[2018-01-16 16:45] #123 closed

[2018-01-18 16:32] squeakyspacebar opened #124 "PostgreSQL ltree Data Type Support"
I'm encountering an issue with relationships where the target model contains an `ltree` column. Since Sequelize does not support `ltree` in its models as far as I am aware, in the model I defined the `ltree` field using `Datatypes.TEXT` instead, as it is the closest data type seems like it would cause the least amount of semantic issues.

However, it causes a problem with the default filtered drop

[2018-02-09 13:08] Kiranyellu commented on #22
it's not working here..any one got the problem ?

[2018-02-12 21:17] Morikko opened #125 "Port Setting on generate is not taking in account"
![capture d ecran de 2018-02-12 13-17-07](https://user-images.githubusercontent.com/7831572/36119505-688adc96-1040-11e8-9c0e-abfa5d17d625.png)

I generated with lumber and asked to use port 3500. However, it started on port 3000.
Did I misunderstand the port ?

I saw that the `./bin/www` is taking in account only the PORT env or defaulting to 3000.
https://github.com/ForestAdmin/lumber/blob/6f86b6

[2018-02-18 02:18] pardus71 commented on #57
i try it today and got also issues any solutions?

`
C:\Users\Anonymous\dev\a\i>npm install
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\Anonymous\dev\a\i\package.json'
npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\Anonymous\dev\a\i\package.json'
npm WARN i No description
np

[2018-02-20 20:48] alitoch opened #126 "Any plans to support NoSQL/Rethinkdb?"
Hi,
First of all, thank you for this awesome product. Are there any plans to support document-oriented databases such as Rethinkdb, or Mongodb?

Thank you!

[2018-02-22 11:00] SeyZ commented on #126
Hey @alitoch

Good news, we officially support MongoDB. Here's an example: https://github.com/ForestAdmin/forest-examples/tree/master/examples/mongodb-database/simple

Unfortunately, we don't plan to support RethinkDB at the moment.

Feel free to reopen this issue if needed

[2018-02-22 11:00] #126 closed

[2018-02-26 14:37] manurana commented on #103
This is still not happening. Just checked again

[2018-02-26 15:21] arnaudbesnier opened #127 "[*] Fields Detection - Does not detect automatically Postgresql type `integer[]` as `DataTypes.ARRAY(DataTypes.INTEGER)`"

[2018-03-02 21:35] boblauer commented on #78
Has anyone figured out how to achieve this? Do I have to re-create the project every time I change my schema?

[2018-03-15 13:38] 201Factory opened #128 "Multiple schemas available for postgres"
Is it possibile to generate admin from multiple schemas with postgres ?

[2018-03-17 10:45] SeyZ commented on #78
Hey @boblauer of course not. The best way today is to manually create your new models in the `models/` directory or to reflect your database changes (other data types, new foreign key, new attribute, etc.) on your existing models.

We use the famous Sequelize ORM. Checkout the doc to easily manipulate your models: http://docs.sequelizejs.com/manual/tutorial/models-definition.html

Let me know if y

[2018-03-17 10:47] SeyZ commented on #22
Can you share your generated code to help me reproduce the issue? Thanks!

[2018-03-20 19:11] #125 closed

[2018-03-20 19:11] SeyZ commented on #125
Thanks for reporting @Morikko ! It's now fixed.

[2018-04-03 18:51] tyteck commented on #114
Hello and thanks for your post. It helped me to resolve the same problem.
With cloudflare you only have to pass your forest dns in "DNS only". The little grey cloud with the arrow that is passing above it.
For me that's it :)

[2018-04-18 12:18] #128 closed

[2018-04-19 03:32] stindall opened #130 "Invalid Date on non-nullable columns"
## Expected behavior
Forest interface should do validation on data and prompt user if trying to add null values to a non-nullable column.

## Actual behavior
For a non-nullable date column, FOREST is inserting "0000-00-00 00:00:00" as the date when the user does not set a date in the UI. Instead, FOREST should prompt user to enter a valid date or at the very least leave it null and let the update

[2018-04-26 11:45] #3 closed

[2018-05-04 09:59] root-io opened #132 "User friendly error message in case of connection error to the database"
Could be nice to add a checklist of why the connection to the database might failed, like:

- Your database is running at 127.0.0.1 on port 5432.
- Your password is correct
...
[code]

[2018-05-06 01:18] juhaelee opened #133 "Image issues (Carousel + image)"
Having a couple issues:

1) Carousel should allow a base url, similar to the image field
2) image field when uploading applies the base url, so the data:url breaks the image. base url should only be applied when image is not a dataurl

[2018-05-07 18:47] facundofarias commented on #50
I was able to fix it by running this:
`npm install -g lumber-cli@latest`

Hope it helps.

[2018-05-08 12:46] Nisthar commented on #44
any updates?

[2018-05-10 04:48] VjunetXuuftofi commented on #78
I would really appreciate this feature. I was really happy that lumber can so easily generate the model files from the database at initialization, but if there's no way to update it in a similar fashion I can't realistically use lumber/forest. I am already modifying model files in python and then migrating them to the database make changes; there is no reason I should need to create new model file

[2018-05-15 07:02] pjc0247 opened #136 "Post-modification hooks"
Hi

Is there any post-modification hooks??
I want to make a external call after fields is modified.
(Ex: publish changes to clients)

Thanks.

[2018-05-18 11:41] SeyZ commented on #44
The simplest way to use Forest using a MongoDB database is to start from this working example: https://github.com/ForestAdmin/forest-examples/tree/master/examples/mongodb-database/simple

[2018-05-24 12:40] SeyZ commented on #115
Outdated?

[2018-05-24 12:40] #115 closed

[2018-05-31 13:57] SeyZ commented on #132
@root-io do you have an idea how to do this? I'm not sure Sequelize or even the database itself returns an explicit reason. If you have suggestion, don't hesitate to reopen this issue.

[2018-05-31 13:57] #132 closed

[2018-05-31 14:09] SeyZ commented on #130
I've created a date field on my MySQL database and add it to my model:
    'birthday': {
      type: DataTypes.DATE,
      allowNull: false
    },

Now, there's frontend validation to avoid bad user input.

<img width="896" alt="screen shot 2018-05-31 at 16 08 22" src="https://user-images.githubusercontent.com/519129/40787029-df9a7386-64ec-11e8-8ff9-6163296c0ce5.png">

[2018-05-31 14:09] #130 closed

[2018-05-31 14:12] SeyZ commented on #114
During the `lumber generate` process, you can now set the IP/hostname and port on which your admin will be running.

It should solve your issue. Don't hesitate to reopen this issue if you are still blocked.

[2018-05-31 14:12] #114 closed

[2018-05-31 14:14] SeyZ commented on #111
The `lumber generate` won't execute `npm install` automatically  at the end of the process. The output suggests to install dependencies manually using `npm install` in the generated directory. Can you try manually and reopen this issue if you still have the problem?

[2018-05-31 14:14] #111 closed

[2018-05-31 14:15] SeyZ commented on #108
Empty databases are not well catched.

[2018-05-31 14:15] #108 closed

[2018-05-31 14:20] SeyZ commented on #105
I can't reproduce this issue on my side. I think it's related to a old version of express-jwt and it should be fixed now. This issue is from a long time ago, so don't hesitate if you still have the problem

[2018-05-31 14:20] #105 closed

[2018-05-31 14:21] SeyZ commented on #89
The `--ssl` option does not exist anymore

[2018-05-31 14:21] #89 closed

[2018-05-31 14:22] SeyZ commented on #86
Please, reopen this issue if the problem still exists on the latest version of Lumber

[2018-05-31 14:22] #86 closed

[2018-05-31 14:22] SeyZ commented on #79
Please reopen this issue if you still have the same issue with the latest version.

[2018-05-31 14:22] #79 closed

[2018-05-31 14:26] SeyZ commented on #64
The logic behind `heroku deploy` was not smooth enough and we've decided to remove the command. Please use the instructions given by `lumber deploy` instead.

[2018-05-31 14:26] #64 closed

[2018-05-31 14:27] SeyZ commented on #103
It should now works. Here's the updated documentation: https://doc.forestadmin.com/developer-guide/lumber.html#customizing-response
Please reopen this issue if it still happens.

[2018-05-31 14:27] #103 closed

[2018-05-31 14:28] #101 closed

[2018-05-31 14:30] SeyZ commented on #91
It is true for all databases and the question `What's the database schema? (optional)` is now asked during the `generate` process.

[2018-05-31 14:30] #91 closed

[2018-05-31 14:31] #50 closed

[2018-05-31 14:32] SeyZ commented on #69
`lumber update` is now here for this :)

[2018-05-31 14:32] #69 closed

[2018-05-31 14:33] SeyZ commented on #90
All fields are now surrounded by `'` to avoid this problem

[2018-05-31 14:33] #90 closed

[2018-05-31 14:35] SeyZ commented on #57
`lumber generate` won't execute `npm install` at the end of the process anymore. With the latest versi on of Lumber, the instruction asks you to manually execute `npm install` in the generated folder.

Please, reopen this issue if the problem still exists.

[2018-05-31 14:35] #57 closed

[2018-05-31 14:45] #44 closed

[2018-06-03 18:28] SeyZ commented on #37
The `lumber update` command is now available.

[2018-06-03 18:28] #37 closed

[2018-06-04 20:03] #31 closed

[2018-06-04 20:03] SeyZ commented on #41
Already fixed

[2018-06-04 20:03] #41 closed

[2018-06-11 10:12] cirokd commented on #22
I had this problem when creating a new file in the `routes` folder according to the documentation:
[code]

What's missing is the last line:
[code]

If anyone still having this issue ran into it by creating a route file, this should fix it.

[2018-06-12 08:29] SeyZ commented on #22
Thanks @cirokd - the documentation has been updated 👍

[2018-06-16 20:07] Antonhansel opened #138 "_.contains is not a function"
I get this error when I try to see any table

[code]

Maybe this can help:
https://github.com/mgonto/restangular/issues/1298

[2018-06-17 09:33] SeyZ commented on #138
@Antonhansel can you paste me the output of the command `npm list` executed on your lumber-generated admin?

[2018-06-18 07:21] SeyZ commented on #138
Hey @Antonhansel - it was a regression on the `forest-express-sequelize` package. `contains` alias has been deleted to the newest version of `lodash`.

It's now fixed if your upgrade the `forest-express-sequelize` to the version `2.12.2` in your Lumber generated folder (package.json).

Thanks!

[2018-06-18 07:21] #138 closed

[2018-06-18 08:21] Plovie opened #139 "Error on 'lumber update'"
The command `lumber update` crash with the following message :

`/usr/local/lib/node_modules/lumber-cli/services/db.js:34
        );
        ^
SyntaxError: Unexpected token )
    at createScript (vm.js:53:10)
    at Object.runInThisContext (vm.js:95:10)
    at Module._compile (module.js:543:28)
    at Object.Module._extensions..js (module.js:580:10)
    at Module.load (module.js:488:32)
    at try

[2018-06-18 20:17] SeyZ commented on #139
@Plovie What version of Node are you using?

[2018-06-19 06:40] Plovie commented on #139
Hi sorry, you are actually right i was on an previous version for deploying on gcloud function.

[2018-06-19 06:40] #139 closed

[2018-06-20 20:57] pantchox opened #140 "fails if table don't have ID column"
I dont have "id" column in my table, so as the title say, the server exited and the error is
[code]

[2018-06-21 10:00] SeyZ commented on #140
Hey @pantchox - can you share your table schema to reproduce your issue on my side? I'd like to check if the table has another primary key set and if the lumber generated model is well configured accordingly.

[2018-06-21 22:00] pantchox commented on #140
[code]

[2018-06-21 22:01] pantchox commented on #140
note: i am using timescale db (extension to postgres) but it should not effect in my opinion at all.

[2018-06-24 09:06] SeyZ commented on #140
Thanks @pantchox - I've successfully reproduced your bug. But your table does not seem to have any primary key at all. Am I right?

[code]

[2018-06-27 00:28] MiraiTunga commented on #109
@vadimshvetsov  did you get any answer ? having the same problem

[2018-06-27 14:19] vadimshvetsov commented on #109
Yep, it's not supported yet :)

[2018-07-03 16:43] facundofarias opened #148 "Search is not working when using attributes from other tables"
Hallo there,

I've read these [docs](https://doc.forestadmin.com/developer-guide/lumber.html#searching-on-a-smart-field) hundred of times, trying to make it work, but still I am encountering issues. Following the documentation, it's quite straightforward to search in a Smart Field, that's OK.

But in our case, let's suppose we have a table of Pets, with all the information about each pet. If we wa

[2018-07-04 06:11] VincentMolinie commented on #140
@SeyZ this is normal. It's a time based db so most of the time the id will just be the timestamp (it's certainly hidding an id under the hood). This is not raeally the table it's an hypertable so it's actually not represented like that in DB but that's not the issue. We should consider the timestamp as primary key may be if there is no Primary Key to be found

[2018-07-05 09:34] pantchox commented on #140
@VincentMolinie 👍

[2018-07-05 14:57] ArnaudValensi commented on #59
This is fixed in the last release (1.10.0)

[2018-07-05 14:57] #59 closed

[2018-07-05 15:02] ArnaudValensi commented on #52
This is fixed in the last release (1.10.0)

[2018-07-05 15:02] #52 closed

[2018-07-10 06:50] #21 closed

[2018-07-10 15:54] facundofarias opened #149 "When JWT token is expired, the user gets stuck on the UI"
Hello there,

We have noticed that sometimes the ForestAdmin UI hangs when the JWT is expired, and the user do not receive any warning message or advice. We didn't know what was happening, until we checked the logs and then we saw this:
[code]
Not sure where I should report this.
Thanks,

Facundo

[2018-07-11 14:40] arnaudbesnier commented on #149
Hey @facundofarias it's was a regression of the platform after a recent release.
If you refresh your browser page, it should be fixed now.

Of course, reopen the issue if you still have the issue.

🌲🌲🌲

[2018-07-11 14:40] #149 closed

[2018-07-14 09:11] facundofarias opened #150 "Lumber update should take the settings from the .env file"
Currently, every time we want to update our models, we are running `lumber update`, which detects almost all the changes (not all of them, like BOOLEAN and DATE are not taken into consideration), and then updates the model.

The thing is, that every time is asking the settings to connect to the database. Can it detect the ones that are saved into the .env file? And if there is none, then yes, ask

[2018-07-21 23:08] adrianricardo commented on #27
any update here? I'm getting the same error on localhost. Production works just fine

[2018-07-25 22:12] tlubz opened #151 "lumber update hangs with an UnhandledPromiseWarningRejection instead of logging actual error"
# Context

yarn version: 1.5.1
node version: 8.9.3
lumber version: 1.10.1 (offending code exists in master as well)
os: macos 10.13.5

# Reproduction steps
* create a backing postgres database with some tables
* run `yarn lumber generate` and enter correct data creds
* e.g. add a new table to your postgres database
* run `yarn lumber update` with correct database creds

# Expected behavior
* Actua

[2018-07-26 07:29] #151 closed

[2018-07-26 07:56] #150 closed

[2018-07-26 07:56] SeyZ commented on #150
Thanks @facundofarias !

[2018-07-26 09:35] jreg11755 opened #152 "cannot update lumber"
Hi!

I tried to install lumber client using` sudo npm install -g lumber-cli` as it was specified in the official documentation.  (lumber-cli@1.10.2.)
 When I run `lumber update`, I get the following

`Error: Cannot find module 'parse-database-url'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)

[2018-07-26 09:37] facundofarias commented on #152
@SeyZ I think it might be related to #150
Thanks!

[2018-07-27 05:59] MiraiTunga commented on #22
@SeyZ  The current documentation seems to not have this update the module.exports = router; line is missing again

[2018-07-28 16:45] doublesharp opened #153 "Marketing Video Won't Load on Chrome"
![image](https://user-images.githubusercontent.com/571472/43358700-b160f978-924a-11e8-9ec6-64cc36190e78.png)

Clicking the video modal on your website results in an error in Chrome and no vide. Disabled ad blockers, etc.

[2018-07-29 20:12] arnaudbesnier commented on #153
Hi @doublesharp, I cannot reproduce the issue with Chrome version 67.0.3396.99.
Can you precise which version you have?

[2018-07-29 22:57] doublesharp commented on #153
I'm also on 67.0.3396.99 (Official Build) (64-bit)

On Sun, Jul 29, 2018 at 1:12 PM, Arnaud Besnier <notifications@github.com>
wrote:

--

https://www.doublesharp.com
expert integration and implementation

[2018-07-30 15:45] alexisohayon opened #154 "Smart field populating in grid view, but not in item view"
Hello,

I'm having a problem with smart fields, they work pretty fine as long as we stay in grid view, but when we look into a specific item, the field is empty.

Am I missing something?

Thanks!

[2018-07-30 16:17] alexisohayon commented on #154
Found the problem: the type has to be capitalized.

[2018-07-30 16:17] #154 closed

[2018-08-01 13:35] SeyZ commented on #152
Thanks @jreg11755 @facundofarias
If it's the same issue than the #150 - it's fixed https://github.com/ForestAdmin/lumber/issues/150

Thanks!

[2018-08-01 13:35] #152 closed

[2018-08-01 13:36] facundofarias commented on #152
Thanks @SeyZ

[2018-08-01 16:54] fpinzn opened #155 "update command not reading SSL option"
Checking the generate command, the SSL option is read here

https://github.com/ForestAdmin/lumber/blob/a93eff0d3a19da6726f6232e289805d4f9bc6ee3/lumber-generate.js#L30-L46

That same option is missing from the update command. I believe the other options are not pertinent during an update.

https://github.com/ForestAdmin/lumber/blob/a93eff0d3a19da6726f6232e289805d4f9bc6ee3/lumber-update.js#L26-L36

[2018-08-06 15:54] prevostc opened #156 "BelongTo OK but corresponding hasMany not generated"
I have a 1-n relationship between categories and category domains.
Lumber successfully generate the belongTo association for the category model, but do not generate the hasMany for the category domain model.

In the interface, I can follow a link in the category list, but I can't list categories for a single domain (coherent with the generated models).

How to generate the hasMany relationships?

[2018-08-06 16:01] prevostc opened #157 "Can't create a new entity, default value ignored"
I have Postgres 10 instance with a keyword table with an uuid column like this:
[code]

When I try to create a new entity from the interface, there is this error: `null value in column "uuid" violates not-null constraint`.

[2018-08-07 08:51] lfcipriani opened #158 "'lumber update' or 'lumber help update' commands throws exception"
Everything was going fine until I updated the data model. When running `lumber update` I got the message:

[code]

I can run the node app but `update` return this error (it happens even when I type "lumber help update"). Tried to reinstall npm packages as well. I don't want to regenerate because I already did changes to models.

It happened with node 10.7.0 and 8.9.1.

I'm using latest version of

[2018-08-07 10:54] jreg11755 commented on #158
still happening to me, already reported in #152

[2018-08-07 14:38] arnaudbesnier commented on #158
@lfcipriani, @jreg11755 Shame on us guys... The fix is here: https://github.com/ForestAdmin/lumber/commit/03e28d8178279115cf88f893e16437e110bb84a5

I will release an new version in a few minutes.

[2018-08-07 14:47] arnaudbesnier commented on #158
Fix released in the new package version (v1.10.3)
Thanks for the feedback guys!

🌲🌲🌲

[2018-08-07 14:47] #158 closed

[2018-08-07 21:22] lfcipriani opened #159 "Don't require .env file for deploying to production"
While deploying using docker to Heroku, I realized that we always need the .env file copied to the image otherwise the node app will throw an exception that it's missing. This means also that the node app don't take into account the envitonment variable set by Heroku.

It's not safe to create docker image with .env containing secrets. Would be nice to be able to disable dotenv support in productio

[2018-08-08 07:06] jasonbpg opened #160 "Lumber Generate Error"
Hi Guys,

I'm having trouble generating a lumber environment. Any idea what could be causing this?

:~ jasonstockton$ lumber generate
/usr/local/lib/node_modules/lumber-cli/lumber-generate.js:28
(async () => {
       ^

SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._exten

[2018-08-08 07:30] arnaudbesnier commented on #160
Hey @jasonbpg , which version of Lumber do you currently use?
Also, do you observe a regression or is it the first time you use it?

Thanks for your help.

[2018-08-08 08:56] jasonbpg commented on #160
It's the latest version, I've literally just installed it and tried to use it for the first time.

I also tried uninstalling and installing Lumber again with the same error :(

[2018-08-08 14:40] neillindberg commented on #153
Here too: 68.0.3440.84 (Official Build) (64-bit)

[2018-08-08 17:24] jasonbpg commented on #160
Okay, I've found the issue. It seems an out of date version of Node is the cause.

To update Node I followed the instructions here:
https://stackoverflow.com/questions/11284634/upgrade-node-js-to-the-latest-version-on-mac-os

[2018-08-08 17:24] #160 closed

[2018-08-09 09:30] samshinde commented on #27
Does any one came across below issue

[2018-08-09 19:21] ValentinPerret opened #161 "Lumber does not generate models for views"
Hello, I don't know if it is an issue or more a feature request, but lumber does not seems to generate models for the views available in my `postgres` DB (it does generate models for my SQL tables but not for my SQL views.)
Is there a way to access my views in Forest using Lumber?

[2018-08-10 05:10] samshinde commented on #27
My forest server was not running. No all things are going smoothly.  :+1:

[2018-08-11 00:38] ValentinPerret opened #162 "Lumber update command update the public schema"
Hello,
I realized that the command `lumber update` update my model based on my DB public schema even if a specific schema is referenced in my `.env` file. This is annoying because I want lumber to update only one specific schema and I don't want to generate a model for my public schema.

[2018-08-11 00:40] ValentinPerret commented on #161
Hi @arnaudbesnier , thanks for your answer. I tried to do that but I don't understand how to add a missing view in the `models` directory. I succeeded to add manually `tables` but I could not find how to add a `view`.

[2018-08-13 01:46] KevinL59 opened #163 "[Question] Not able to change smart Field Enum"
Hi everybody!

I have a problem trying to create a smart Field Enum. This smart enum his here to select a currency. I succeed to create this smart Field, display it on our forest admin, but I not able to change it. I add a set method to the smart Field, I test many different ways to implement this function, but I not able that work. The documentation doesn't help me. What can I do to permit to set

[2018-08-14 13:38] vertigokidd opened #164 "Sequelize connection error when deploying in Google App Engine"
Hi, I am having an issue when deploying the admin server in App Engine. Everything works fine in local development mode and Forest admin is able to connect to the production server on initial deployment. But when I try to retrieve the data in the UI I see this error in the logs (IP masked for privacy):

[code]
It is the same database connection I'm using for dev and I have independently verified t

[2018-08-19 21:37] xclusivzik commented on #22
i have the same issue
 here is the error i encounter

$ node server.js
This is an app!
C:\Users\\Desktop\Node.js\chatcat\node_modules\express\lib\router\index.js:458
      throw new TypeError('Router.use() requires a middleware function but got a ' + gettype(fn))
      ^

TypeError: Router.use() requires a middleware function but got a undefined
    at Function.use (C:\Users\MFM lekki\Desktop\Node

[2018-08-20 11:03] arnaudbesnier commented on #22
Hey @xclusivzik , can you try `module.exports = router;` as explained above?

Thanks.

[2018-08-20 11:12] xclusivzik commented on #22
@arnaudbesnier  i did that already still the same issue,
" throw new TypeError('Router.use() requires a middleware function but got a ' + gettype(fn))"

[2018-08-21 07:42] facundofarias commented on #148
Hey @arnaudbesnier,
Let me explain a bit more about our scenario.

We do have a **Users** table in which, of course, the search can be done using the **Email** field, and also we have created the Smart Relationships, so once I found the user that I am interested, I can navigate to the other relationships.

But in this case, let's suppose we have another table called **Invoices**, in which we have

[2018-08-22 07:08] arnaudbesnier commented on #148
Hi @facundofarias ,

About your **Invoices** example if the **userId** is a "native" belongsTo (ie not a Smart BelongsTo) then if you want to search on **Users.email** from the **Invoices** you can activate the "extended search". You can do that from the footer of the **Invoices** table view.

<img width="415" alt="screen shot 2018-08-22 at 09 01 11" src="https://user-images.githubusercontent.com/

[2018-08-22 07:38] facundofarias commented on #148
@arnaudbesnier exactly, that's our problem!
An example would be great! Thanks

[2018-08-22 16:07] thebucknerlife opened #165 "Heroku deploy fails - on verify, server not reachable?"
Hi,

Ever time I try to follow these direction (https://doc.forestadmin.com/developer-guide/lumber.html#deploy-to-production) to deploy to Heroku I get the same error on clicking "verify":

[code]

I setup a fresh Heroku app on my account, added `FOREST_AUTH_SECRET` and `FOREST_ENV_SECRET` to config and then pasted the full heroku application https URL into the admin.

What gives? Maybe something

[2018-08-23 06:53] arnaudbesnier commented on #165
Hi @thebucknerlife , on our side, it looks like your production environment is not setup at all.

What code is running on this new Heroku app?
Did you deploy your Admin server (the node server generated by Lumber) on your fresh Heroku app?

Thanks!

[2018-08-23 06:59] arnaudbesnier commented on #163
Hi @KevinL59, I am not sure to understand.

To help you with the implementation of the `set` function, we need to have a concrete example of the "business logic" you want to implement for the `get` function of the Smart Field.

Can you share with us this logic?

Thanks.

[2018-08-23 07:03] arnaudbesnier commented on #157
Thank you @prevostc for the valuable feedback.
Happy you managed to find the workaround by yourself!

I cannot provide any ETA for such improvement but we now have it in mind.

[2018-08-23 07:06] arnaudbesnier commented on #156
Hi @prevostc, I think the answer is here: https://doc.forestadmin.com/developer-guide/lumber.html#adding-the-relationships

I close this issue but don't hesitate to reopen it if you're not satisfied with the answer ;)

🌲🌲🌲

[2018-08-23 07:06] #156 closed

[2018-08-23 07:10] arnaudbesnier commented on #161
I think you declare a model base on a View the same way you declare all the models based on Tables.

Can you share an example of model declaration you tried to make you SQL View visible in Forest?

Thanks.

[2018-08-24 11:52] anilprasad commented on #27
I am getting the similar error as mentioned above
🌳 Open your admin UI: http://app.forestadmin.com 🌳
[forest] 🌳🌳🌳
VError: IP Whitelist error: Forest server request error: Not Found
...and the remaining part as mentioned by @samshinde

[2018-08-24 22:03] ValentinPerret commented on #161
I tried the following model to make a view visible in forest (the view is called `vessel_inventory` in the DB):
`'use strict';

module.exports = (sequelize, DataTypes) => {
  var Model = sequelize.define('vessel_inventory', {
    'quantity': {
      type: DataTypes.INTEGER,
    },
  }, {
    tableName: 'vessel_inventory',
    underscored: true,
    timestamps: false,
    schema: process.env.DATABA

[2018-08-27 16:33] arnaudbesnier commented on #161
The reason is that Forest cannot display the records list properly if the collections does not have a primary key. You can either add one `id` column in your view or declare a composite primary key based on `vessel_id` and `equipement_id` if you are sure that the combinaison is unique.

Check the Sequelize documentation to see how to use the `primaryKey: true` parameter).

[2018-08-27 18:59] ValentinPerret commented on #161
Hi @arnaudbesnier, thanks for the help.
Because my view is built from a query on my DB using an aggregation function is was hard to add an id column. I ended up using the compounded primary key route method in the model definition and it works fine! 😃
Keep the good work your tool is amazing!
If you could add a paragraph about recovering views in the doc it would be perfect for the next person tryi

[2018-08-27 18:59] #161 closed

[2018-08-27 20:26] arnaudbesnier commented on #161
Glad to hear everything works now.

We have plans to improve the doc with a section about SQL Views that could be released in the next weeks.

🌲🌲🌲

[2018-08-29 01:46] thebucknerlife commented on #165
hey @arnaudbesnier I don't quite understand. No I didn't deploy it.

Thinking further, I see the issue. Your directions don't clear state "once you've committed and deployed your lumber code to Heroku, then...". I'd suggest you make that a lot more clear here: https://doc.forestadmin.com/developer-guide/lumber.html#deploy-to-production

In any case, I pushed my code to my Heroku app. I still have

[2018-08-29 01:50] kylefitz621 commented on #22
Currently having the same issue
throw new TypeError('Router.use() requires a middleware function but got a ' + gettype(fn))

[2018-08-30 21:10] bbalban opened #167 "Feedback"
it looks awesome except I had a few showstopper issues:

1. I strongly prefer to run it locally instead of through an insecure http app.forestadmin.com. It's the entire database of my application, I would prefer to run it locally.

2. I saw an issue with NodeJS and PostgreSQL/Sequelize:
```Unexpected error: column CommentActions.created_at does not exist```

I pretty much had the same error for al

[2018-09-02 23:14] KevinL59 commented on #163
Thanks, Arnaud for your answer.

We have several fields that represent money (Capital, fundraise, etc...). For each of those fields, I want to choose a currency. That why I want to put an enum field with the currency next to each money fields I have.

But the logic to implement the set function looks complicated to understand.

Thank you for your answer

[2018-09-05 17:02] ps06756 commented on #105
I am still facing this issue.

[2018-09-05 17:18] SeyZ commented on #167
Hey @bbalban Thanks for the feedback.

1. You can configure SSL on your lumber-generated project using a web server proxy_pass, or a tunnel using a tool like ngrok or with another solution. If your node app is configured with SSL, app.forestadmin.com will enforce HTTPS automatically. You can read more about this here: https://doc.forestadmin.com/knowledge-base.html#https-and-mixed-content-risks

2

[2018-09-05 17:18] #167 closed

[2018-09-08 23:00] haggen opened #168 "Support for my existing REST API"
Hey there,

I see that `lumber generate` requires a SQL database, but I also saw in the examples that you support MongoDB, so I was wondering; does Lumber support any REST API? For instance I have an API but I don't have an interface to manage the data. Would Lumber help me?

Thanks in advance.

[2018-09-11 09:02] SeyZ commented on #168
Hey @haggen - Nope, Lumber is a tool to generate an Express.js application where we install `forest-express-[orm]` package on it to create a Rest API dedicated for your admin operations. This API will be 100% compatible with forestadmin.com - so you cannot use your application's API, which have a different purpose.

[2018-09-11 09:02] #168 closed

[2018-09-11 15:23] BobbyRH opened #169 "SyntaxError: Unexpected token"
I need your help, I have problem, Generate Lumber at windows 7 profesional 64 bit with Command Line.
[code]

[2018-09-11 16:59] SeyZ commented on #169
What's the version of your Node?

[2018-09-13 09:41] cirokd opened #170 "`lumber update` detects every field as newly added"
Hello!

Every time I run `lumber update`, it runs seemingly without any issues, but it outputs what I believe is every single field we have in our database, saying that it detected a new field, but cannot add the definition automatically. I wouldn't mind having to add newly detected fields manually as it outputs exactly what I would have to insert to the models, but it's impossible to find the new

[2018-09-13 12:54] BobbyRH commented on #169
Node v6.11.3

[2018-09-20 15:30] joeellis commented on #159
Also running into this - it'd be nice to just defer to `process.env` if the `.env` file is not there and not require the file be there. Also comes up when deploying directly from a git repo, which wouldn't have the `.env` file in it (since it shouldn't be committed).

[2018-09-23 00:26] nishantnath commented on #169
Solution:
npm cache clean -f
npm install -g n
n stable

check version (might need reboot)
node -v

npm update -g lumber-cli --save
lumber -V

works now

[2018-09-24 18:39] joeellis commented on #170
Also hitting this - any ideas what is causing it?

[2018-09-25 07:11] SeyZ commented on #170
Hey @cirokd and @joeellis - I've tried to reproduce the issue with Lumber update on my side but everything works well.

Can you share a model file where you simulate to remove a field from the model definition?

If Lumber says: "Cannot add the field definition…", it means Lumber cannot detect the content layout generated "by default". Did you change something on this file? If so, you need to add t

[2018-09-25 07:12] SeyZ commented on #169
Node 8 is required 👍

[2018-09-25 07:12] #169 closed

[2018-09-25 07:54] cirokd commented on #170
Yes @SeyZ, we have added the relationships manually, that may be the source of this issue.

[2018-10-01 08:54] cirokd commented on #170
Is there any way this issue could be fixed?

[2018-10-03 02:16] ps06756 opened #171 "Unable to login to forest admin project"
Hi,
I created a sample database to try out forest admin along with lumber, but I am unable to get it to work.
After installing `lumber-cli`, I generated the project directory using `lumber-cli` which ran successfully without error.
After that I did, `npm install` and `npm start`.
After that, I navigated to `http://app.forestadmin.com` as instructed after doing `npm start`.
Now, when I try to login

[2018-10-03 10:54] SeyZ commented on #171
@ps06756 thanks for reporting. I'm currently working to fix this critical bug

[2018-10-03 10:55] SeyZ commented on #170
I'm not sure it's an issue. Lumber does not recognize the syntax of your model file so it suggests you to add manually the new detected fields.

What's the issue with this behavior?

[2018-10-03 10:59] cirokd commented on #170
The issue is that it lists _every_ field (new and old) as newly detected. I would be happy to add the new fields manually if it only listed them.

[2018-10-06 08:14] SeyZ commented on #171
Fixed 👍

[2018-10-06 08:14] #171 closed

[2018-10-06 08:15] SeyZ commented on #170
@cirokd ok I think this is because Lumber is unable to detect the declared fields from your model file. Can you share your model file to analyze the syntax?

Thanks!

[2018-10-08 08:04] cirokd commented on #170
@SeyZ sure, this is one example of a model that hasn't changed since the initialization of the project, but both its fields are listed as newly added on every `lumber update`:
[code]

[2018-10-09 09:44] #170 closed

[2018-10-09 09:46] SeyZ commented on #170
Hi @cirokd - I have released a fix.

The problem was due to the model indentation file. Don't know who has changed it.
So, I've improved the regexp to be more permissive on the file syntax

[2018-10-11 12:28] DargieDChouwy opened #174 "Can't delete project"
Hello,

I can't delete project. When I click on the trashcan nothing happens. I can select a project and do what I want to do.

I have got an error in F12 console :

![capture d ecran du 2018-10-11 14-27-18](https://user-images.githubusercontent.com/35135877/46803989-cecf1600-cd61-11e8-9f1b-9f408d9bc510.png)

[2018-10-15 14:36] lmwattebled opened #175 "Error on lumber update with a non default schema"
💀  Oops, your database is empty. Please, create some tables before running Lumber update.💀

This is what I get when trying to do a "lumber update".
The previous "lumber generate" operation was done without any problem.

Lumber version 1.12.0

is there a fix?

[2018-10-15 20:04] jqrn commented on #163
I have the same problem, or a similar one. My Smart Field shows up in the table view and also in the detail view, with the correct values. I thought that if I supplied a `set` function, then when I clicked on Edit on an item's detail, that Smart Field would be editable rather than read-only. But my Smart Fields are staying readonly regardless of whether I'm supplying a `set` or not.

[2018-10-16 15:52] SeyZ commented on #175
Hey @lmwattebled - What's your database type? Do you use a non-default schema?

[2018-10-16 17:34] lmwattebled commented on #175
Hi,
This is postgresql.
And yes, as indicated in the title ;), I am using a non default schema.

Thanks in advance for your help.

[2018-10-17 08:02] lmwattebled commented on #175
Hi,
This is postgresql.
And yes, as indicated in the title ;), I am using a non default schema.

Thanks in advance for your help.

[2018-10-23 00:50] KevinL59 commented on #163
Ok I misunderstand the concept of smart fields. I will find another way to add this currency information. thanks for you answer.

[2018-10-23 05:10] #163 closed

[2018-10-29 09:54] WazGettty opened #177 ".."

[2018-10-29 14:55] #177 closed

[2018-10-31 14:22] lmwattebled commented on #175
Hi guys,

May I have an update on this issue?
Or at least is there a workaround to that "lumber update" issue?

Indeed, I need to study the possibility to build our back office with Forest, and it will not be possible without this required feature.

Thanks in advance for your help

[2018-11-01 17:09] wmpay commented on #25
has found a workaround for this issue?

[2018-11-03 22:31] lesley-hays opened #178 "Smart Action does not receive records from Smart View"
I'm triggering a Smart Action on a Smart View with a button, as per the docs. But the records don't appear to be sent to the action route.

Button looks like
`<button {{action 'triggerSmartAction' collection 'Do The Action' records}}>
    Do It
  </button>`

## Expected behavior

Logging `req.body.data` in the Smart Action route should show me the record IDs used in the Smart View.

## Actual beha

[2018-11-04 10:01] #175 closed

[2018-11-04 10:02] SeyZ commented on #175
@lmwattebled The fix is now available in the `1.12.1` version

[2018-11-06 16:18] lmwattebled commented on #175
Yeah that works now!
Many thanks for your help.

[2018-11-20 15:09] nicolasdupere opened #182 "Can't install from npm install -g lumber-cli"
Here the error message when installing (same problem with SUDO):

--> ~ $ npm install -g lumber-cli
npm WARN deprecated sprintf@0.1.5: The sprintf package is deprecated in favor of sprintf-js.
/Users/nicolasdupere/.npm-global/bin/lumber -> /Users/nicolasdupere/.npm-global/lib/node_modules/lumber-cli/lumber.js

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried

[2018-11-20 16:59] SeyZ commented on #182
Hi @nicolasdupere - I tried with the *Node version 11.2.0* and I got the same error message.

Can you try again using another version like the LTS one? *Node 10.13.0* ? For me, it fixed the problem.

It's not the first time that node-sqlite3 does not support newest version of Node (see https://github.com/mapbox/node-sqlite3/issues).

I'm wondering if I should not remove sqlite support in Lumber :(

[2018-11-21 06:14] SeyZ commented on #182
Hi @nicolasdupere - Can we speak in english here for other people?

Did you install Nodejs 10.13.0 using NVM? It seems your NODE_PATH environment variable is not well set and so, your shell is not able to find the lumber executable.

At this point, I think it's more like an issue to solve on your Node install/configuration than a real lumber problem.

But, we will close this issue as soon as we re

[2018-11-21 10:21] louisteenbrink opened #183 "Support SRV record connection on MongoDB Atlas"
Lumber should support SRV record to connect to my remote database hosted on MongoDB Atlas

![image](https://user-images.githubusercontent.com/18258597/48835070-96b6ec00-ed7f-11e8-8e9d-7cf98d9942eb.png)

[2018-11-21 10:23] louisteenbrink opened #184 "[*] MongoDB Atlas - Does not work with Free plan (mapReduce() function not allowed)"
I have a FREE MongoDB Atlas account and during Lumber generate it thrown the following error:

`error: 💀  Oops, operation aborted 💀 due to the following error:  message=CMD_NOT_ALLOWED: mapreduce, stack=MongoError: CMD_NOT_ALLOWED: mapreduce`

[2018-11-21 12:09] #183 closed

[2018-11-21 12:09] SeyZ commented on #184
Fixed

[2018-11-21 12:10] #182 closed

[2018-11-22 17:10] nicolasdupere commented on #182
Ok we found the problem.

Let me recap.

1- To install ForestAdmin, you really need to install, from node website (No nvm or other versionning app) the latest LTS version of node. Not the last version available.

2- When this finally work, i was not able to launch lumber generate. Why? I got always: Could not found. We fix the problem by adding export PATH=$PATH:~/.npm-global/bin in the .bash_prof

[2018-12-04 21:38] agonbina opened #185 "Using forest with an unconventional ORM like Prisma"
Hi there,

We use [Prisma](https://www.prisma.io) as an ORM layer in between our services and our database(MySQL) and we were looking into using forest to build an administration interface.

Due to the fact the forest requires a connection to the database itself, this means we are not able to use it alongside Prisma. Technically you could (by hooking up the "auto generated database" from the prism

[2018-12-12 11:25] neokaiyuan opened #186 "Image uploader sending GET request instead of PUT request as per documentation"
As per [Forest Docs](https://doc.forestadmin.com/developer-guide/express-sequelize.html#uploading-images), I expect Forest to send my API server a PUT request that I can then extract image data from. Instead Forest sends my API server a GET request with the image data in the URL. Nginx throws a 414 error because the URL string is too long.

How do I get Forest Admin to send me a PUT request as spe

[2018-12-14 17:49] blackcatpolice opened #187 "lumber generate not response"
Type : lumber generate ,
? What's the database type?  mysql
? What's the database name? xxxxx
? What's the database schema? [optional]
? What's the database hostname? (remoteserver)
? What's the database port? 3306
? What's the database user?  root
? What's the database password? [optional]
? Does your database require a SSL connection?  No
? What's the IP/hostname on which your back office will b

[2018-12-20 08:20] SeyZ commented on #185
Hi @agonbina - sorry for the delay.

The purpose of Lumber is to generate an admin panel application that is completely isolated from your main application. In this way, your main app can use your favorite technologies that fits your requirements (graphql, prisma, or whatever) and your admin panel will always be compatible with our plugin (Liana) which supports Express and Sequelize/Mongoose and g

[2018-12-20 14:56] SeyZ commented on #187
Hey @blackcatpolice - It was a problem from a dependency (inquirer) used to ask for inputs. The problem is now fixed in the Lumber version 1.14.0 after upgrading inquirer.

Can you confirm? Thanks for report!

[2018-12-20 14:56] #187 closed

[2018-12-21 08:17] SeyZ commented on #155
Fixed in the 1.14.1

[2018-12-21 08:17] #155 closed

[2018-12-29 01:34] wlegate opened #188 "lumber-cli installation not properly working (lumber: command not found)"
I'm following the installation instructions on the ['Installation' page](https://docs.forestadmin.com/lumber/getting-started/installation)… the "lumber-cli" package appears to install successfully (no warnings or errors), but the "lumber" bash command isn't found after installation.

Not sure if this is an issue with outdated documentation or something else…

**Details**
- I've tried both installi

[2019-01-06 15:24] MarwaAbuEssa opened #189 "using #if equals to value in smart value"
hi ,

in a smart view , I need to add if condition inside #each loop to compare values  between a key in  currentrecord  and a value from the loop

i found out that i had to write a custom ember help  , i tried to add it in js of view but it always give undefined error

any help please ?
Marwa

[2019-01-08 14:09] SeyZ commented on #188
Hi @wlegate

Just did it on a fresh new install and it works well. It's probably due to your PATH? Does it work with another package with a command line bin?

![image](https://user-images.githubusercontent.com/519129/50835505-2546f300-1357-11e9-9bcd-f3b7f6c31beb.png)

[2019-01-08 14:09] #188 closed

[2019-01-11 20:04] MarwaAbuEssa commented on #189
any help ??

[2019-01-12 22:18] MarwaAbuEssa commented on #189
hi ,

i found helpers which i can use in smartview in the following package  👍

[https://www.npmjs.com/package/ember-truth-helpers](https://www.npmjs.com/package/ember-truth-helpers)

thanks ,

[2019-01-12 22:18] #189 closed

[2019-01-17 10:18] facundofarias opened #190 "In ForestAdmin UI: Cannot reach your data"
We see the following image:
![image](https://user-images.githubusercontent.com/2700564/51311528-6753f100-1a49-11e9-8c8a-acd9445b2f0b.png)

Which means that the UI has handled a timeout, and it's not longer waiting for a result. But, the query in the database is still running. How to avoid that? Can we close and cancel that connection that might be opened forever? (Or, at least until the query is d

[2019-01-18 14:14] htmathias commented on #162
@ValentinPerret
I'm having this issue too.

[2019-01-27 19:42] htmathias commented on #162
I'm now getting this error on public:

```error: 💀  Oops, your database is empty. Please, create some tables before running Lumber generate.💀```

How do I update the models manually?

[2019-01-28 11:56] sic-f commented on #104
+1

[2019-02-01 14:02] luxcem opened #192 "Env variables should be prefixed with "FOREST_""
Some `process.env` variables are prefixed with "`FOREST`" like `FOREST_AUTH_SECRET` and `FOREST_ENV_SECRET` but other like `DATABASE_URL`, `SSL_DATABASE`, `ENCRYPT_DATABASE`, `DEV_RENDERING_ID`, `DATABASE_SCHEMA` are not.

To avoid interferences with other process, env variables should all be prefixed with "`FOREST`"

[2019-02-01 17:06] MaddyCase commented on #104
+1

[2019-02-02 09:43] benlienart opened #193 "Server does not support SSL connections on remote db"
Hi,

I am trying to install lumber with a remote db instance on Heroku. Here's my config :
[code]

I get `👍  Hooray, installation success! 👍`, the db models are discovered ok, but when logging on the UI, i get a `Oops, something went wrong`error when trying to visualize the data, and get the following error on the terminal :

[code]

Could you help me figure out what's wrong here ? Thanks !

[2019-02-05 14:07] SeyZ commented on #193
Hi @benlienart

This error is thrown by the Sequelize ORM, which is responsible to manage the connection to your database hosted on EC2.

My guess here is that you answered to the question "? Does your database require a SSL connection?" -> yes.

Are you sure about this? Because the error said: The server does not support SSL connections

Can you confirm you really require a database SSL connectio

[2019-02-05 14:42] benlienart commented on #193
Hi @SeyZ ,

I indeed answered `? Does your database require a SSL connection? Yes`. Otherwise connection to the db fails at the `lumber generate` stage.

Futhermore, i checked that the remote db requires SSL connection by logging successfully to the db by the following command :
`psql -u [db_user] "sslmode=require host=[db_host] dbname=[db_name]"`

Best regards

[2019-02-10 23:43] htmathias opened #195 "Array?"
`type: DataTypes.ARRAY(DataTypes.STRING)`

The system that automatically defines the model doesn't read my array.
Still undefined when updating myself.
Is this a known issue?

[2019-03-13 14:55] estsauver opened #197 "Error using lumber to install forrest admin"
[estsauver@dirac blah]$ npm install
npm notice created a lockfile as package-lock.json. You should commit this file.
added 229 packages from 224 contributors and audited 532 packages in 4.95s
found 6 vulnerabilities (2 low, 4 moderate)
  run `npm audit fix` to fix them, or `npm audit` for details
[estsauver@dirac blah]$ npm start

/home/estsauver/Dev/pikachu/blah/node_modules/sequelize/lib/associa

[2019-03-20 15:41] rgull commented on #148
Hi, Any updates on this. We also need an example for Search on a Smart Relationship. Thanks.

[2019-03-21 20:39] facundofarias commented on #148
No idea! @arnaudbesnier Was the article published? Where is it?
Thanks

[2019-03-26 05:10] htmathias commented on #104
+1

[2019-03-26 08:08] SeyZ commented on #104
We're currently working on a set of new Forest Admin's widgets with the possibility to suggest dynamic values from a dropdown. The next step for us is to set this widget available in smart action forms. Stay tuned

[2019-03-26 15:52] garciamarco33 opened #204 "Display error when updating smart field"
Hello,
I have an object with a time slot :
[code]
and I want my user to modify it with a smart field,
cause I want them to only be able to set time as `HH:mm`
So if they enter something else I want to display an error.
But I can't seem to find a solution for this, is this even possible ?
Thanks in advance.

PS :
Here's my smart field
[code]

[2019-03-26 20:21] JSilversun opened #205 "Create new related data form fail the first time"
## Description
When I try to Add a new related data from any model, the form is not shown the first time, but if I try to open it again, the form is shown and work without errors.

## Example
I have the models: `Category` with `id` and `icon`, `CategoryTranslation` with `name` and `description`.

I added the relationship in sequalize like this:

[code]
[code]
When I go to the `forest admin` interf

[2019-03-26 20:24] yonathan9669 commented on #205
Hey @marcpforestadmin, same here!! good @JSilversun quite detailed issue description 👍🏼

[2019-03-27 03:30] htmathias commented on #195
You can absorb as a string, which outputs fine within the Data View.
However, search & other functions depend on  the SQL command ```LOWER``` and you  can't  lower  an array.

Only workaround  is  to cast the array to a string when  you're  done appending to it.

[2019-03-27 06:33] arnaudbesnier commented on #195
Hi @htmathias,

Thanks for the feedback.
I am not sure to understand exactly what is your issue.

Forest Admin manages properly Arrays (of String, Enums, Number,...) for CRUD operations.
You're right about the current implementation, the native search does not query the Array columns.

Being said, can you detail what is your need and what you observe in details?

Thank you for your help.

[2019-03-27 06:36] arnaudbesnier commented on #205
Hi @JSilversun, thanks for the valuable feedback.
We'll look at this regression today 👍
I'll let you know.

[2019-03-27 12:02] arnaudbesnier commented on #205
Hi guys, it should be fixed now.
Can you refresh you browser page twice and try again to confirm the issue has gone?

[2019-03-27 12:02] #205 closed

[2019-03-29 19:13] JSilversun commented on #205
Yes, it works, thank you very much for your quick response!

[2019-04-01 11:59] jorgetbGitHub opened #206 "HTML as response doesn't allow javascript execution"
Currently I'm trying to create a form using the "Custom html response" feature exposed in the documentation. There I cannot use javascript, for some reason the content inside of <script> tag finally is shown as simple text.
How can I execute js? Would be possible use of JQuery, Bootstrap and other libraries?

Thanks.

[2019-04-02 10:42] RobinHerzog opened #207 "Unable to npm start"
Hi,

I have a new server with the latest version of node.

I generated all files but npm start fails

<img width="1440" alt="Capture d'écran 2019-04-02 11 56 47" src="https://user-images.githubusercontent.com/4397570/55396666-bab3e680-5544-11e9-921a-f5a106c8f4e4.png">

I tried many version of node js

[2019-04-02 12:35] #207 closed

[2019-04-03 08:05] SeyZ commented on #197
It seems to be related to a bad belongsTo association created in your models. But it's hard to debug with the code formatting. Can you edit your post with good formatting and I'll reopen this issue to try to reproduce it on my side. Thanks!

[2019-04-03 08:05] #197 closed

[2019-04-03 08:13] arnaudbesnier opened #209 "Lumber generate fails with --connection-url option"
It fails:
- with an unauthenticated user
- with a logged in user

Here is the error trace:
[code]

[2019-04-03 08:39] estsauver commented on #197
@SeyZ this isn't my product or error code, don't know what to tell you about formatting of error messages.

[2019-04-03 10:03] jeremymaignan commented on #52
Hi,
I am facing the same issue. How can I fix it ?
Thanks

[2019-04-03 10:37] #209 closed

[2019-04-04 17:58] JSilversun opened #213 "isRequired property ignored for smart fields"
## Description
If you create a `smart field` with the `get` and `set` method, and you set `isRequired=true`, `forest` will mark the field as required but ignore it in the form submission.

## Example

[code]
Then after the server is running the form for the model Board will look something like:

![image](https://user-images.githubusercontent.com/26018221/55577321-5aa67700-56e1-11e9-99a9-6088aab540

[2019-04-05 08:21] tyteck opened #214 "Automate installation - Docker"
Hi there
A few monthes ago I've try to run forestAdmin on my server. I failed mainly due to the fact I was not familiar with node/npm ecosystem.
I want to give it a try again, but this time I would want to run it within a docker container through a mysql datasource and totally automated.
I have 2 problems with that.
I've found some docker-compose for postgres (https://github.com/ForestAdmin/forest

[2019-04-05 08:29] tyteck commented on #214
I've create a repo (if you want to have a look)
https://github.com/tyteck/forestAdmin-docker

[2019-04-05 12:07] tyteck commented on #214
By the way I've made small advances on that.
.env file is more like this
DATABASE_URL=mysql://<USER>:<PASSWORD>@<HOST>:<PORT><DATABASE_NAME>
FOREST_AUTH_SECRET=<FOREST_AUTH_SECRET>
FOREST_ENV_SECRET=<FOREST_ENV_SECRET>

But when I run docker with thoses elements, my container doesn't care.
I still need to `lumber login`, `lumber generate`, `cd my_forest_project`, `npm install` and finally `npm sta

[2019-04-05 14:49] SteveMGits commented on #25
I have encountered this same issue using MySQL, with the admin panel and DB all running locally.

Using Lumber 1.14.2 and MySQL 5.7

[2019-04-08 15:04] VincentMolinie commented on #25
This issue is due to the id field not conventional. We need to fix it @SeyZ.
For now if you want to fix your issue it seems that specifying:

[2019-04-08 15:09] SteveMGits commented on #25
@VincentMolinie thanks for the followup! Should I create a new issue then? Or, if one already exists, would you please share it? We're definitely interested in the product but I know we want to use UUIDs as our primary keys.

[2019-04-09 07:30] SeyZ commented on #214
Hi @tyteck thanks for this suggestion!

It's actually already possible on the `devel` branch. We've worked on the dockerization of the generated application:

![image](https://user-images.githubusercontent.com/519129/55781276-15e85a80-5aaa-11e9-9151-0db31441d8a4.png)

Can you confirm this is what you'd like?

[2019-04-09 09:18] SeyZ commented on #214
@tyteck I just released the 1.14.3 version that supports Docker. Let me know if it fit your requirements and I'll reopen this issue otherwise

[2019-04-09 09:19] SeyZ commented on #153
This video is not on the website anymore

[2019-04-09 09:19] #153 closed

[2019-04-09 14:17] tyteck commented on #214
Not quite :)

[code]
I would like to have a way to specify credentials to be used with `lumber login`. For example, if env variables like FOREST_EMAIL and FOREST_PASSWORD (or FOREST_ENCRYPTED_CRED) are set, lumber login don't ask for any credential and is using these.
On the same "model" I would like that `lumber generate` use ENV DATABASE_URL if set.

PS : I know that env variables are not secure

[2019-04-09 20:22] tyteck commented on #214
I advanced one step at a time. This moment I have 2 pain points :
## Authentication with lumber login or generating .lumberrc
If I copy the .lumberrc in the container in the homedir of the user running container I am logged in.
`lumber user`
You're logged as
Great but I need to authenticate once to create the .lumberrc. Is there a way to call api with email, forest_auth_secret and forest_auth_toke

[2019-04-10 20:13] JSilversun opened #215 "Sequelize hooks not working as expected"
## Description
I have an `area` collection with a smart field `name`,  and I want to implement a hook after an area is `created`/`updated` to do something with the smart field I declared, but none of the following hooks are being called: `afterCreate`, `afterUpdate`, `afterBulkUpdate`, `afterSave`.

[Here](http://docs.sequelizejs.com/manual/hooks.html) are the docs of the hooks of `sequelize`, the

[2019-04-10 20:32] yonathan9669 commented on #215
This is actually quite important, because we are not been able to run some business logic for those actions that are needed. Do you think @marcpforestadmin this is a bad/wrong implementation on us? or it's actually a bug, because we already tried different things without any luck.

[2019-04-10 20:36] yonathan9669 commented on #213
@SeyZ we were trying to do a work around for this using hooks but we had another issue with them that push us back here.

We described the issue here #215

[2019-04-16 15:54] tyteck commented on #214
Hi guys
I'm still working on automating a proper forest installation with docker. And still failing.
I have 2 containers.
- one mysql server
- the forest admin one

From the forestAdmin one, using mysql-cli, I can connect to the mysqlServer container

`root@2a321a3795c9:/var/opt/forestAdmin# mysql -uOBFUSCATED_USER -pOBFUSCATED_PASSWORD -hmysqlServer -P3306 OBFUSCATED_DBNAME
Reading table informat

[2019-04-16 23:15] equilibrium123 commented on #188
Where and how  can I access my lumber cli? I have got it installed. I have use npm lumber -version  in my command line and it gave me the version.

I have use the same command line to type Lumber login and it is not recognized. I need to connect with my mysql database. I use a windows system.

Please help.

[2019-04-16 23:18] equilibrium123 opened #216 "Lumber installed, but cannot access lumber cli from my desktop cmd"
Where and how can I access my lumber cli? I have got it installed. I have use npm lumber -version in my command line and it gave me the version.

I have use the same command line to type Lumber login and it is not recognized. I need to connect with my mysql database. I use a windows system.

Please help.

[2019-04-17 14:14] JSilversun opened #217 "Export layout config"
## Description
Sometimes when we develop, some errors occur and then, the layout config resets, this is a big problem because we do a lot of manual setups like putting icons or ordering fields, or choose which field of a collection will be used as a reference.

I didn't find any way to export the config, so in case an error occurs, we can import the config again.

Is there an alternative to preser

[2019-04-25 03:10] oz commented on #140
Any progess on this issue?

[2019-04-27 13:49] Betree opened #219 "Release Docker image"
Hello!

I saw that that https://hub.docker.com/r/forestadmin/lumber exists but it doesn't have any description and doesn't seems maintained.

Releasing docker images would be great for people running clusters in Docker Swarm / Kubernettes where you usually have secret files and don't allow connections to your DB from the outside.

Do you have plans to do that?

[2019-05-03 12:28] cosmith opened #220 "Install gives a blank page"
Hi, I tried following the instructions to test forest admin on my app, but had several issues...

- `lumber login` doesn't do anything
- when I launch `yarn start` in the generated app, I get this:
![image](https://user-images.githubusercontent.com/1194749/57137265-9fd8ca00-6daf-11e9-8697-940d71c068c3.png)

I also tried adding the `lumber-forestadmin` plugin but it didn't change anything.

I'm con

[2019-05-03 14:16] yildizberkay opened #221 "Project generate fails in MongoDB"
Hello,

I try to generate a project using MongoDB, but I am getting following error.

[code]

[2019-05-06 09:43] SeyZ commented on #220
Hey @cosmith After adding the `lumber-forestadmin` plugin, can you see it under the "Installed middlewares" ?

[2019-05-06 09:49] SeyZ commented on #221
Hey @yildizberkay can you try with the `-c` argument to check if this is an issue from the prompter?

Example: `lumber generate -c "mongodb://m001-student:m001-mongodb-basics@cluster0-shard-00-00-jxeqq.mongodb.net:27017/city?authSource=admin&ssl=true" MySuperApp`

[2019-05-07 17:45] vessenes commented on #220
I have the same problem. Ubuntu 18.04. npm 3.5.2, node 8.10.0

I used `npm install lumber-forestadmin` and got this:

[code]

[2019-05-14 19:44] j1mmie commented on #220
I believe you have to follow that up with a `lumber install lumber-forestadmin`

Ran into this myself, did not find it in any of the documentation

[2019-05-24 16:27] Duckybee opened #222 "Project failed with mongodb atlas when using mongo+srv://"
There is issue with connecting to mongodb atlas where they using mongo+srv for connection. After debugging into this last night, it appears that we didnt take mongo+srv into consideration in few places. I have the fix locally and it works for me but dont have permission to create PR so just post the changes here in case it help.

To repro this:
you will need to create a MongoDb Atlas paid account,

[2019-05-26 19:11] psantwani opened #223 "No description found for "databasechangeloglock" table. Check the table name and schema; remember, they _are_ case sensitive."
I am using Postgres and the tables having been seeded using liquibase.

[2019-05-27 16:09] AlexandreIsMe commented on #193
Hi @SeyZ !

I've got a similar issue, with the same configuration. I am running a db on heroku postgres. I cannot install `lumber-forestadmin`. The error I get is:

[code]

I think my issue is because lumber is trying to connect with `SSL` set to `off`. However, I answered yes to `Does your database require a SSL connection?` and I've checked in the .env file, where SSL seems to be enabled. I do n

[2019-05-27 17:35] JSilversun commented on #215
I found a workaround for this issue, the problem was caused because any change to a smart field won't mark the sequelize model instance as `changed` if you debug any model instance you will see an attribute `_changed` which is an object which each key matches an attribute that changed, to force the update hook to trigger, just "trick" the ORM to think any field that is NOT virtual, changed
somethi

[2019-05-27 17:35] #215 closed

[2019-05-29 08:37] SpekkoRice opened #224 "app.forestadmin.com connecting to wrong URI"
Hi,

I'm a new user, trying out Forest Admin for the first time.
I'm running my trial on a hosted server of mine.

I apologize in advance if I'm not entirely familiar with all the Forest Admin Jargon.

### Description:
When lumber asks for your IP/hostame your app will be running on, your connector app (app.forestadmin.com) should use this provided IP/hostname to authenticate you.

**Installation

[2019-05-29 09:30] LiquidNexxus commented on #197
Hi, I have a slightly different error but cant figure out what to do:

npm WARN deprecated sprintf@0.1.5: The sprintf package is deprecated in favor of sprintf-js.
npm ERR! path /usr/local/lib/node_modules/lumber-cli/node_modules/sequelize
npm ERR! code EISGIT
npm ERR! git /usr/local/lib/node_modules/lumber-cli/node_modules/sequelize: Appears to be a git repo or submodule.
npm ERR! git     /usr/lo

[2019-05-29 09:32] LiquidNexxus opened #225 "Lumber Install Issues"
npm install -g lumber-cli
npm WARN deprecated sprintf@0.1.5: The sprintf package is deprecated in favor of sprintf-js.
npm ERR! path /usr/local/lib/node_modules/lumber-cli/node_modules/sequelize
npm ERR! code EISGIT
npm ERR! git /usr/local/lib/node_modules/lumber-cli/node_modules/sequelize: Appears to be a git repo or submodule.
npm ERR! git     /usr/local/lib/node_modules/lumber-cli/node_modules/

[2019-05-29 09:58] SpekkoRice commented on #224
I see I'm able to define production environment AFTER I've set things up locally. Then I'm able to define my custom domain and the app adheres to it.

[2019-05-29 09:58] #224 closed

[2019-05-30 20:41] dylanhusted commented on #220
I had the same issue and just figured it out. What you're seeing is actually expected - it's your back office app at localhost:3000 (or whatever port you specified in setup). That's not the admin panel URL.

I'm sure there is a better order of operations (reading now, it seems very redundant), but here is what worked for me:

After creating your app and running npm install, you need to install lum

[2019-06-01 10:04] slimee commented on #225
I have only the WARN, which is "just" a deprecation warning, but no errors.

What's your config?

Mine is Windows 10 + git bash + node v8.11.4

[2019-06-03 13:35] 201Factory commented on #223
:+1: +1

[2019-06-04 13:52] fccoelho7 commented on #225
The same here!

[code]

[2019-06-05 13:48] arnaudbesnier opened #226 "[-] Performance - Add a maxAge to the default CORS configuration to reduce the number of OPTIONS calls"
Follow the CORS configuration in the `express` liana:
https://github.com/ForestAdmin/forest-express/blob/8e0fa49bde3b9ba7aca144a8949180733ba78f68/src/index.js#L128

[2019-06-18 13:11] tobiaskneubuehler commented on #223
Same problem here. I fixed some bugs by myself, maybe I will commit a PR. For now you can use version 1.14.3 of lumber-cli for postgres with schema support

[2019-06-18 22:29] kaleb commented on #27
Same issue. This is what I get when I run `curl -I http://localhost:3002/forest`:

[code]

[2019-06-24 06:33] SpekkoRice commented on #222
Are you going make a PR?

[2019-06-24 19:31] Duckybee commented on #222
I dont have permission to create the PR so I just pushed the change there in case someone wants to help me bring it it.

[2019-06-25 14:34] RadoRado commented on #193
I have the same issue.

Tried connecting to a local Postgres & to a Postgres running on Heroku.

And then, when I run:

[code]

I get the following error:

[code]

[2019-06-25 14:38] Ninoks commented on #193
Following !
Same here, running Postgres on Heroku.

[2019-06-26 10:53] RadoRado commented on #193
Updating to `lumber-cli@2.1.0` solved the issue for me :+1:

[2019-06-26 11:03] VincentMolinie commented on #193
@JeanCarrot `lumber-cli@2.1.0` should fix your issue

[2019-06-26 12:40] VincentMolinie commented on #193
@benlienart does it fix your issue ?

[2019-06-26 13:16] SpekkoRice commented on #222
Well I forked and patched it here to be installed on our servers: https://github.com/SpekkoRice/lumber if anyone is interested.

[2019-06-27 09:37] VincentMolinie commented on #193
I close this issue as it should be fix by last version of lumber

[2019-06-27 09:37] #193 closed

[2019-06-27 09:41] VincentMolinie opened #228 "[*] Lumber Generate - Specifying option --email does not work if already logged in"
### What happen
Using the option `--email` with an email different than the one use in lumber login (I think lumber login is the old version) ignore the email, does not ask password and create the project on the other accoun.

### What I expect
I should be asked to enter my password for that email and should create the project for that account

[2019-07-03 07:58] marcperrinp commented on #219
Hi @Betree , that Docker image is maintained as well as [https://hub.docker.com/r/forestadmin/lumber-forestadmin](https://hub.docker.com/r/forestadmin/lumber-forestadmin) which allows you to install Lumber and its Forest Admin plugin in one shot.

We are actually currently working on a new installation process where using Docker is an option. It still needs work but you can already test it by foll

[2019-07-03 07:58] #219 closed

[2019-07-03 09:00] marcperrinp commented on #217
Hi @JSilversun , unfortunately there isn't at the moment. However:

1/ There shouldn't be any errors in your layout configurations. Please do let us know via our [Slack community](http://community.forestadmin.com/) if this happens again;
2/ We have plans to enable layout configuration versioning. You can follow [this card](https://portal.productboard.com/forestadmin/1-forest-open-product-roadmap/c

[2019-07-03 09:00] #217 closed

[2019-07-03 09:51] marcperrinp commented on #216
Hi @equilibrium123 , can you provide more details on your issue? What command are you running? What is the error logs?

[2019-07-03 14:26] marcperrinp commented on #214
Hi @tyteck,

we are currently working on a new installation process where using Docker is an option. It still needs work but you can already test it by following [our documentation](https://docs.forestadmin.com/documentation/getting-started/installation/install-in-lumber#install-using-docker).

About your lumber generate issue (with mysql), this should be fixed if you update to lumber to the lates

[2019-07-03 14:26] #214 closed

[2019-07-03 14:39] marcperrinp commented on #220
Hi,

Apologies if this wasn't straight-forward!

Our **installation walkthroughs** are documented [here](https://docs.forestadmin.com/documentation/getting-started/installation/install-in-lumber) (note that we are still finetuning our Docker installation, so there might still be blocking points in some cases).

Feel free to reopen this issue if you encounter other installation issues.

[2019-07-03 14:39] #220 closed

[2019-07-03 14:43] marcperrinp commented on #216
An installation walkthrough is available [here](https://docs.forestadmin.com/documentation/getting-started/installation/install-in-lumber#install-using-npm) using npm.

Feel free to reopen this thread if you still encounter problems during your installation process. Also, don't hesitate to ask questions in our [Slack community](http://community.forestadmin.com/) where you might get a quicker respo

[2019-07-03 14:43] #216 closed

[2019-07-03 14:52] marcperrinp commented on #225
This appears to be a git/npm-related issue (See [https://github.com/react-native-community/react-native-safe-area-view/issues/73](https://github.com/react-native-community/react-native-safe-area-view/issues/73)).

Closing until further notice.

[2019-07-03 14:52] #225 closed

[2019-07-03 15:02] marcperrinp commented on #206
Hi @jorgetbGitHub,

We don't support the <script> tag in the 'html' property mentioned [here](https://docs.forestadmin.com/documentation/reference-guide/actions/create-and-manage-smart-actions#custom-html-response).

However, we have a big project in our roadmap to make Smart actions more powerful. Would you mind sharing what you wanted to build on [this ticket](https://portal.productboard.com/for

[2019-07-03 15:02] #206 closed

[2019-07-04 19:57] gsm4 commented on #184
hi, i´m trying to learn mongoDB with the atlas free account and give me this error

2019-07-04T16:53:38.683-0700 E QUERY    [js] Error: map reduce failed:{
        "ok" : 0,
        "errmsg" : "CMD_NOT_ALLOWED: mapreduce",
        "code" : 8000,
        "codeName" : "AtlasError"
} :

[2019-07-08 07:37] marcperrinp commented on #184
Hi @gsm4, does your issue have anything to do with Lumber and/or Forest Admin?

[2019-07-11 02:50] ductranit opened #230 "Deployment - How to deploy into Azure function"
Hi there,
I wonder whether I can deploy into Azure function?. I use Mongoose to connect Mongo db successful on local. Then I follow this tutorial https://ahmadawais.com/microsoft-azure-functions-javascript/ to deploy it into Azure function.
I already set production environment variable for forest key & secret.
I also run `npm install` on Azure
But when I copy the function url into ForestAdmin dash

[2019-07-11 08:50] arnaudbesnier commented on #223
Hi @psantwani,

Thanks for the feedback!
Could you share:
- the name of this table in your Postgresql database?
- the model generated by Lumber in your admin backend?

It would help a lot!

[2019-07-12 12:24] JaapWeijland opened #231 "SequelizeConnectionError: Unknown database 'default@default'"
Hi all,

I have installed lumber through `npm i -g lumber-cli`. This installs version 2.1.4. I try to generate a backend through this CLI, so I run `lumber generate "Admin Panel"`. I fill in the needed credentials, like the database name: default@default. When I run the generation, the CLI crashes with the error `SequelizeConnectionError: Unknown database 'default@default'`, even though I am sure

[2019-07-12 12:36] #231 closed

[2019-07-12 12:36] JaapWeijland commented on #231
Never mind. I was running an old MySQL instance in parallel by accident.

[2019-07-15 05:38] crrobinson14 opened #232 "String ID fields in MySQL?"
I have a MySQL database that I tried hooking Forest Admin up to. I had two issues during the project setup:

1. I first tried to set it up on a bastion box but wasn't able to open the project in ForestAdmin. In the console I saw that it was apparently hard-coded to go to localhost even thought I entered the bastion's IP during the setup. I worked around this by installing it locally so this wasn't

[2019-07-15 07:29] hellokvn commented on #228
Same here. I created a project, plugged the MySQL database and did the same with another ForestAdmin account. When it came to this command:

`lumber install lumber-forestadmin --email avyjov@clrmail.com --projectName loremipsum`

the E-Mail address of my new ForestAdmin account was ignored complete, instead I created new projects with this command on my previous ForestAdmin account.

Windows 10 64

[2019-07-15 14:51] arnaudbesnier commented on #222
Hi @Duckybee @SpekkoRice thanks for the feedback.

This repository is open-source so you can submit pull requests once the repo forked and the fix applied.
I'll try to integrate that fix today based on your fork @SpekkoRice 🙏

[2019-07-15 16:16] arnaudbesnier commented on #222
Fixed here: https://github.com/ForestAdmin/lumber/commit/d96ccc2a286530f7c23ed5bc91ae92efc9744255

The fix should be released in a Lumber v2.2.0.

[2019-07-15 16:16] #222 closed

[2019-07-15 16:19] arnaudbesnier commented on #221
Hi @yildizberkay,
Did you manage to setup a project using the `-c` command suggested by Sandro?

[2019-07-16 07:21] arnaudbesnier commented on #226
Fixed in `lumber-forestadmin@1.1.1`

[2019-07-16 07:21] #226 closed

[2019-07-18 13:24] Arjun-sna commented on #171
@SeyZ This is happening still. Not able to use Forestadmin completely.

[2019-07-18 21:54] dylanhusted opened #233 "[*] Lumber Update - New tables not added on production from lumber update"
I'm facing an issue with updating our production Forest Lumber models. By running lumber update, I was able to successfully update all models locally.

However, when I pushed to production (Heroku), only column additions to existing tables were added. New tables were not added on production.

I can't just run 'heroku run lumber update', and I'm not sure what else to do, other than push the local c

[2019-07-19 16:00] arnaudbesnier commented on #233
Hi @dylanhusted,
Could you provide the lumber version you're using?

Do you have a `.forestadmin-schema.json` in your admin api server generated by Lumber?
If so, do you have the new table `tweets` listed in it?

Thanks.

[2019-07-19 16:05] arnaudbesnier commented on #171
Hi @Arjun-sna,

As this issue is pretty old, I am not sure that the issue is the same even thought the resulting experience looks to be the same.

Feel free to join the community at http://community.forestadmin.com.
It is the best way to get help.

[2019-07-19 16:09] arnaudbesnier commented on #230
Hi @ductranit,

Can you join our community Slack channel to have help from the team and the community to setup you Azure function?
You can access it here: http://community.forestadmin.com/

[2019-07-22 19:26] dylanhusted commented on #233
Hi @arnaudbesnier , sorry for the late reply.

The `.forestadmin-schema.json` file is in our admin API server on Heroku, and it does have 'tweets' listed in it, though 'tweets' was an arbitrary example, and in our case, the new tables are actually called 'communities' and 'memberships'.

As for our lumber version, we are using lumber-forestadmin v1.0.5.

Looking at the production codebase, I'm als

[2019-07-24 22:55] davidbillamboz opened #234 "Update is not possible when using SSL"
## Expected behavior

`lumber update` should update the app models

## Actual behavior

`lumber update` crashes.

## Failure Logs

[code]

## Context

* Lumber Package Version: 2.2.3
* Database Dialect: postgres on heroku
* Database Version: xx

I think the relevant part is :
https://github.com/ForestAdmin/lumber/blob/6191eedc4ed5fa729ea9cbeaa2b161e5ae1ffe28/lumber-update.js#L25-L28

If you compar

[2019-07-25 11:03] arnaudbesnier commented on #223
@VincentMolinie do you think Lumber `v2.2.4` fixes this issue?

[2019-07-25 11:51] VincentMolinie commented on #223
Fixed by version `v2.2.4`

[2019-07-25 11:51] #223 closed

[2019-07-27 10:18] seyhunak commented on #27
Any update of this? Forest requests get 204 response.

[2019-07-31 13:30] Yani06 commented on #27
Same issue  for trying to unlock data  ! is there any solution?
RequestURL: http://localhost:3000/forest/sessions
Response : Connection Refused

[2019-08-01 23:48] frostini commented on #165
@thebucknerlife just had the same issue, hope this helps !

the application autogenerated a local .env, this sets the server port via the ENV variable named APPLICATION_PORT.  This is a problem because heroku dynamically sets a port via the process.env.PORT variable/port our server should be listening on. It's listed as the #1 issue on #R10 errors [https://help.heroku.com/P1AVPANS/why-is-my-node-j

[2019-08-01 23:52] frostini commented on #165
@arnaudbesnier renaming the APPLICATION_PORT .env var to PORT should suffice in closing this issue out :+1:

[2019-08-05 05:44] arnaudbesnier commented on #233
Hi @dylanhusted ,

Good point about the missing `schema` property.
Did you try to add those lines manually and deploy the code on your production server?
Does it make your models appear in production?

Thanks

[2019-08-05 05:45] arnaudbesnier commented on #233
This issue may be related to this fix then:
https://github.com/ForestAdmin/lumber/pull/236

[2019-08-05 08:31] manthis commented on #27
I'm having the exact same issue. Nothing in the logs of my application and the CORS policy is alright. Don't know what's the problem here.

[2019-08-05 08:45] manthis commented on #27
Ok I solved the issue by adding this to my CORS configuration in Express:

`const app = express();

    // We configure CORS
    let corsOptions = {
        origin: 'https://app.forestadmin.com',
        credentials: true,
    };
    app.use(cors(corsOptions));`

[2019-08-05 20:19] dylanhusted commented on #233
No, I didn't try that actually. That PR appears to be doing the same thing, so I'll wait until it's fully merged in and give it a try.

Thanks for taking the time to review and address this issue so far @arnaudbesnier .

[2019-08-14 20:41] dylanhusted commented on #233
It's true that this issue is now resolved, but I did have to go back and manually insert `schema: process.env.DATABASE_SCHEMA,` in the models that were generated before PR #236 was merged in.

Models generated after that seemed to work out of the box.

[2019-08-14 20:41] #233 closed

[2019-08-19 12:32] JoeAlamo opened #250 "Lumber update generating invalid camelCase fields"
## Expected behavior

When running `lumber update` I expect it to create fields that match the fields in the tables in my database so when I deploy these changes to my admin panel API, my Forest Admin installation is able to make API calls to my backend to create or update records.

## Actual behavior

`lumber update` is creating duplicate fields in a camelCase fashion. All of my fields in the tab

[2019-08-24 19:39] natemoore3 commented on #104
Hi @SeyZ, what is the status of this feature?

[2019-08-24 20:08] coffenbacher commented on #234
I'm just trying out Lumber and ran into this - it's kind of concerning that such a simple bug has had no activity for a month...

[2019-08-25 21:48] arnaudbesnier commented on #250
Hi @JoeAlamo ,
Thanks for the report. It is strange that you have single quotes around your field names because Lumber 2.3.2 is not supposed to generate the models like that.

Maybe the `update` command does not work well with projects created with an older version of Lumber. Can you check and confirm that you're using Lumber v2.3.2?

Thanks for your help

[2019-08-25 21:52] arnaudbesnier commented on #234
Hi guys, sorry for the late response.
Let me prioritise investigations on this issue for this week.

[2019-08-26 10:16] coffenbacher commented on #234
Sure, no problem. I think it's a really simple one, the suggested fix in the bug report basically worked for me.

[2019-08-26 11:57] arnaudbesnier commented on #234
Fixed in the new Lumber version (v2.3.4).
Thanks for your help guys!

[2019-08-26 11:57] #234 closed

[2019-08-27 10:07] sm-tradeboox opened #251 "Error Generating"
Testing Lumber for the first time, am quite disappointed that I can't even do the simple project generating step.

[code]

Obviously my database is not empty!

[code]
Using --
[code]

[2019-08-27 10:14] arnaudbesnier commented on #251
Hi @sm-tradeboox, thanks for the feedback.
Maybe it is an error message issue.

Does your `testusr0` have access to one of those 2 tables?

[2019-08-28 05:28] sm-tradeboox commented on #251
Hi. Yes, user is owner of both tables. Both tables were created by the same user as the login credentials.

[2019-08-29 09:20] arnaudbesnier commented on #228
@VincentMolinie isn't this fixed with `lumber-forestadmin@1.1.2`?
https://github.com/ForestAdmin/lumber-forestadmin/blob/devel/CHANGELOG.md#release-112---2019-08-14

[2019-08-29 09:31] VincentMolinie commented on #228
Yes it is

[2019-08-29 09:31] #228 closed

[2019-08-29 09:55] arnaudbesnier commented on #174
Hi @DargieDChouwy let me close this issue as we cannot reproduce it.
Feel free to reopen it if necessary. 🙏

[2019-08-29 09:55] #174 closed

[2019-08-29 09:59] arnaudbesnier commented on #133
Hi @juhaelee,
The `carousel` and `image viewer` widgets have been replaced by the `fileViewer` and `fileUploader`.
Those new widgets should fix the issues described here.

Let me close the issue.
Feel free to reopen it if you think it is still relevant. 🙏

[2019-08-29 09:59] #133 closed

[2019-09-04 13:42] JoeAlamo commented on #250
I'm using lumber v2.3.9 now and still the same issue. Should I delete all of my models and then run generate??

[2019-09-05 09:24] valecarlos opened #254 "Model creation error: A column called 'id' was added to the attributes but not marked with 'primaryKey: true'"
## Expected behavior

All models are created for different tables

## Actual behavior

Model creation fails, complaining about a column called 'id' added to the attributes but not marked with 'primaryKey: true'

## Failure Logs

[code]

## Context

* Lumber Package Version: "lumber-forestadmin": "^1.2.1"
* Database Dialect: PostgreSQL
* Database Version: PostgreSQL 10.6 on x86_64-pc-linux-gnu, com

[2019-09-07 00:55] unicolai42 commented on #27
Try with an other port (For example 3003 rather than 3000). Its works for me.

[2019-09-09 10:12] thomasfaller opened #256 "SequelizeDatabaseError when using MySQL db"
## Expected behavior

Working

## Actual behavior

TODO: When I launch the following command:

[code]

## Failure Logs

[code]
This is being output after the Lumber package and the install goes through. Maybe it's just a warning. Is it because I'm using an old version of MySQL (5.5.62) ?

## Context

TODO: Please provide any relevant information about your setup.

* Lumber Package Version: lumber-

[2019-09-10 11:13] rasmusfjord opened #257 "Update Sequelize to v5.18.4 and to tedious v6.4.0 to make MSSQL work"
## Expected behavior
Being able to use firestadmin with MSSQL

## Actual behavior
Couldnt, threw 2 errors.
`encrypt needs to set to true` and  `Cant login with ''`

## Failure Logs
Nothing

## Context
This was when the admin panel on your end tried to talk through the node app installed on our end.

* Lumber Package Version:1.2.1
* Database Dialect: MSSQL
* Database Version: x

To make it work, or

[2019-09-10 14:28] arnaudbesnier commented on #165
This issue should be fixed with the latest Lumber version (v2.3.11).

Here is the fix:
https://github.com/ForestAdmin/lumber/commit/bc68baf4cfb37c874abc246e430b9e3fd9ee02ae

Thanks for you feedback 🌲

[2019-09-10 14:28] #165 closed

[2019-09-10 14:45] arnaudbesnier commented on #162
I am pretty sure this issue is now fix with the latest Lumber versions.
Let me close the ticket and feel free to reopen it if the issue persists on your side.

[2019-09-10 14:45] #162 closed

[2019-09-10 14:50] arnaudbesnier commented on #250
Yes, I think the solution is to remove all your models, and then run `lumber update`.
Be sure that your models are versioned in order to check the diff and ensure that nothing will be lost (relationships, custom code changes,...)

[2019-09-10 14:56] arnaudbesnier commented on #192
Hi @luxcem,
We've improved the environment variables names consistency:
[code]

As Lumber generates an admin api micro-service, no risk to interfere with other "process" I think.
Let me close the ticket and feel free to reopen the issue if you have a use case in mind.

🌲🌲🌲

[2019-09-10 14:56] #192 closed

[2019-09-10 14:59] arnaudbesnier commented on #11
Hi there,
As the issue is pretty old, and lumber changed a lot, I think we can close this issue.
I am pretty confident that this is fixed with the latest Lumber versions.

🌲🌲🌲

[2019-09-10 14:59] #11 closed

[2019-09-10 19:16] navjinder commented on #27
Hi There

I am seeing the same issues [see image]
![image](https://user-images.githubusercontent.com/3472650/64643208-e5e90e80-d3dd-11e9-942f-be9a473c217c.png)

[2019-09-11 13:53] arnaudbesnier commented on #221
I think this issue is fixed with latest Lumber versions.
Feel free to reopen the ticket if the issue persists.

[2019-09-11 13:53] #221 closed

[2019-09-11 13:55] arnaudbesnier commented on #230
Hi @ductranit ,
Did you eventually managed to deploy on Azure?

[2019-09-13 15:36] ductranit commented on #230
Hi @arnaudbesnier, sorry for late response. My requirements were changed, I didn't use Mongo db anymore. Instead that, I use cosmos database with SQL API, so I couldn't use ForestAdmin.
Last time I tried ForestAdmin on Azure app service instead of Azure function and it could work with cosmos db Mongo API

[2019-09-14 11:59] fredcalvez commented on #256
Same issue for me - the SQL would works if no 'public'

[2019-10-01 13:34] ernaneluis opened #261 "Support for TypeORM"
My application we are using TypeORM for models https://github.com/typeorm/typeorm
, however, lumber generates sequelize models files, so it means we need to keep updated the squelize models to match the models from the code base written in typeORM.
problem: hard to keep track of 2 models.
Any change to support TypeORM models?

[2019-10-01 14:40] ernaneluis opened #262 "How to use Lumber inside of my express application?"
Currently, the lumber generates another server to run in another port, how to install lumber to work inside of the same express.js application?

[2019-10-02 09:23] iCoderzDev opened #263 "Cannot POST //sessions"
I'm getting 404 after deploying on my production server

Error message say's

Unlock your data
Oops, cannot reach the endpoint on your application. Check your Liana version.

[2019-10-02 20:07] gianpaj opened #265 "Error when generate an app with MongoDB when having view (CommandNotSupportedOnView)"
[code]

## Context

* Lumber Package Version: 2.4.0
* Database Dialect: ?
* Database Version: MongoDB v4.0.12

[2019-10-18 12:40] rap2hpoutre commented on #257
Hi @rasmusfjord! Thank you for your contribution! (sorry for late answer)

The issue you mentioned about MSSQL may have been fixed in Lumber v1.5.1 (see [this commit](https://github.com/ForestAdmin/lumber/commit/30081f4908b7bcd6960802c65786f78a3d129280)).

Update Lumber to latest version (e.g `npm i -g lumber-cli@latest`) then try to generate your backend again. Let me know if it fix your issue!

[2019-10-18 13:55] rap2hpoutre commented on #265
![](https://github.trello.services/images/mini-trello-icon.png) [Fix mongo DB views](https://trello.com/c/AM1birnd/3799-fix-mongo-db-views)

[2019-10-18 14:13] rap2hpoutre commented on #265
Hi @gianpaj! Thank you for your contribution!

I just submitted a Pull Request here to fix your problem: https://github.com/ForestAdmin/lumber/pull/289.  🎉. It should be merged soon and be released in the next Lumber release. Stay tuned!

[2019-10-18 14:50] rap2hpoutre commented on #251
Hi @sm-tradeboox! Sorry for late answer 😓

It seems `lumber generate` did not asked you for a schema, which is not the normal behavior! It may be a resolved issue, since I can not reproduce the problem anymore (I am prompted for a schema in all my tests). Could you try again after upgrading your lumber install (e.g `npm i -g lumber-cli@latest`) with this command (I added a `--schema public` to avo

[2019-10-21 09:14] #265 closed

[2019-10-22 16:33] Sorok-Dva opened #294 "Install forest-admin plugin fails: self signed certificate in certificate chain"
Hi,

~I'm trying to generate my first lumber project following the steps shown on your website or trought lumber generate CLI command~. (Solved by upgrading mysql from 5.7 to 8)

I now try to finish the installation by executing the final command `lumber install lumber-forestadmin ...`

The command do not success, I tried to add the NODE_TLS_REJECT_UNAUTHORIZED process env but it just throwing me

[2019-10-25 10:22] xnfa commented on #294
https://github.com/ForestAdmin/lumber/pull/302 solved this problem

[2019-10-25 12:47] Sorok-Dva commented on #294
Thank you, but what we need to do to get this fix ?

I tried `npm i -g lumber-cli` to update the package but I still get the error

[2019-10-25 12:50] Sorok-Dva commented on #294
Thanks but we we need to do to get this fix ?

I tried `npm i -g lumber-cli` and `npm -i lumber-forestadmin` but I'm still getting the same error.

Thanks

[2019-10-25 13:05] rap2hpoutre commented on #294
Hi @Sorok-Dva, thank you for contributing! :+1:

I just released Lumber [a few minutes ago](https://www.npmjs.com/package/lumber-cli). It includes a fix that may solve your problem:

More info [here](https://github.com/ForestAdmin/lumber/blob/devel/CHANGELOG.md#fixed) and [there](https://github.com/ForestAdmin/lumber/pull/302).

You have to reinstall lumber-cli @ version `2.5.2` (the latest versio

[2019-10-25 13:06] rap2hpoutre commented on #294
You are right! Thank you for your help!

[2019-10-25 13:10] Sorok-Dva commented on #294
Hi @rap2hpoutre ! Thanks for your quick answer !

I tried `npm i -g lumber-cli@2.5.2` but I'm getting NPM error :

[code]

`npm i -g lumber-cli@latest` installs version 2.5.1

Is there something that I missed ?

[2019-10-25 13:14] Sorok-Dva commented on #294
Anyway it's ok, the NPM error was due to the test I tried to solve this problem at the beginning (`npm config set strict-ssl false` fix the npm error)

Running the command `lumber install lumber-forestadmin` now working fine ! Thanks for this quick hotfix @rap2hpoutre !

[2019-10-25 13:14] #294 closed

[2019-10-25 16:30] arnaudbesnier commented on #262
Hi @ernaneluis,
We do not officially support it anymore but the idea would be to install:
- https://github.com/ForestAdmin/forest-express-sequelize if you have a SQL database
- https://github.com/ForestAdmin/forest-express-mongoose if you have a NoSQL database
as a middleware in your existing Express server.

Feel free to join our community to have direct answers and support:
https://community.for

[2019-10-25 16:30] #262 closed

[2019-10-28 06:44] arnaudbesnier commented on #263
Hi @iCoderzDev,

There is a lot of reasons that could explain such error message.
Does it work perfectly in your development environment?

Could you provide a detailed description of your deployment issue with:
- the hosting platform you use,
- the logs of your production server on start,
- the logs of your production server on liana login trial,
- the liana version you use,
- any specific configu

[2019-11-03 03:09] transitive-bullshit opened #313 "Error generating MongoDB mapCollection syntax error (with fix)"
## Expected behavior

Generating a project with a MongoDB connection string should work.

## Actual behavior

**Lumber connects successfully to the database but fails during the map-reduce analysis of collections with a JS syntax error**.

I've circumvented the issue with the project generation succeeding by changing `services/analyze-mongo-collections.js` `mapCollection` function to not use newer

[2019-11-04 15:20] VincentMolinie commented on #313
Hi @transitive-bullshit , Can you confirm that it works on 2.6.3 ?

[2019-11-04 21:51] transitive-bullshit commented on #313
Confirmed. Thanks!

[2019-11-04 21:51] #313 closed

[2019-11-05 09:13] arnaudbesnier commented on #184
Hi guys,

Let me reopen the issue.
Some warnings have been added to explain that this error may come from the Mongo Atlas Free Tier limitation.
So far, you have no other choice than to upgrade to a Mongo Atlas paying plan.

We'll try to investigate in the coming weeks on how to support Mongo Atlas Free plan with Lumber.

🌲🌲🌲

[2019-11-05 14:58] JoeAlamo commented on #250
That fixed it :)

[2019-11-05 14:58] #250 closed

[2019-11-10 23:21] franzejr commented on #78
It seems the update command was removed?

https://github.com/ForestAdmin/lumber/commit/7c29765966345cfcc572e64b3f5fffb873c9a8c0

What should we do now ?

[2019-11-13 06:30] arnaudbesnier commented on #78
Hi @franzejr,
Yes the `lumber update` command has been removed.

A few raisons that explain this decision:
1. It didn't create new models for new tables
2. It didn't delete removed columns
3. The first implementation contained bugs for specific configurations
4. It was not implemented for MongoDB databases

Now, the only thing you can do is manually create/update/delete the generated models accord